if exists (select * from tbl_estados_cita where estado_cita='EN PROCESO')
begin
	delete from tbl_historial_cita where id_cita in ( select c.id_cita from tbl_cita c where c.id_estado_cita=3 );
	delete from tbl_cita where id_estado_cita=3;
	update tbl_cita set id_estado_cita=3 where id_estado_cita=4;
	update tbl_cita set id_estado_cita=4 where id_estado_cita=5;

	truncate table tbl_estados_cita;

	insert into tbl_estados_cita select 'CITADO',dbo.Get_date();
	insert into tbl_estados_cita select 'CONFIRMADO',dbo.Get_date();
	insert into tbl_estados_cita select 'ATENDIDO',dbo.Get_date();
	insert into tbl_estados_cita select 'CANCELADO',dbo.Get_date();

	drop procedure dbo.SP_PROCESAR_CITA;
end

GO

IF COL_LENGTH('Productos','EsTaller') IS NOT NULL
BEGIN
	BEGIN TRY
		--delete from Productos where EsTaller=1;
		--alter table Productos drop column EsTaller;
		print '';
	END TRY
	BEGIN CATCH
		print 'No se encontró la columna "EsTaller"';
	END CATCH
END

GO

IF COL_LENGTH('tbl_psicologo','InicioLabores') IS NULL
BEGIN
	alter table tbl_psicologo add InicioLabores varchar(5);
END

GO

IF COL_LENGTH('tbl_psicologo','FinLabores') IS NULL
BEGIN
	alter table tbl_psicologo add FinLabores varchar(5);
END

--GO

--UPDATE Productos SET EsTaller=0;

--GO

--if (select count(*) from Productos where EsTaller=1) != 19
--begin
--	PRINT 'DATA INSERTED - Productos';

--	insert into Productos select 'Arquikids 4 a 6 años',0.00,null,1;
--	insert into Productos select 'Arquikids 7 a 11 años',0.00,null,1;
--	insert into Productos select 'Atención y concentración 5 a 7 años',0.00,null,1;
--	insert into Productos select 'Atención y concentración 7 a 11 años',0.00,null,1;
--	insert into Productos select 'Autoestima +18 años',0.00,null,1;
--	insert into Productos select 'Autoestima mod I 12 a 16 años',0.00,null,1;
--	insert into Productos select 'Autoestima mod I 7 a 11 años',0.00,null,1;
--	insert into Productos select 'Autoestima mod II 7 a 11 años',0.00,null,1;
--	insert into Productos select 'Bienvenido al juego 7 a 11 años',0.00,null,1;
--	insert into Productos select 'Charla autoestima en los niños',0.00,null,1;
--	insert into Productos select 'Charla tolerancia en mis hijos',0.00,null,1;
--	insert into Productos select 'Habilidades sociales 13 a 17 años',0.00,null,1;
--	insert into Productos select 'Habilidades sociales 7 a 12 años',0.00,null,1;
--	insert into Productos select 'Inteligencia emocional 12 a 16 años',0.00,null,1;
--	insert into Productos select 'Juego motriz 3 a 4 años',0.00,null,1;
--	insert into Productos select 'Liderazgo personal adultos',0.00,null,1;
--	insert into Productos select 'Manejo de impulsos 12 a 16 años',0.00,null,1;
--	insert into Productos select 'Manejo de impulsos 7 a 11 años',0.00,null,1;
--	insert into Productos select 'Manejo de la ansiedad 12 a 16 años',0.00,null,1;
--end

GO

IF (NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME='tbl_sede'))-- and TABLE_SCHEMA = 'TheSchema'))
BEGIN
    CREATE TABLE tbl_sede
	(
		Id int identity(1,1) primary key,
		Nombre varchar(200),
		Estado BIT
	)
END

GO

IF (NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME='tbl_sede_usuario'))-- and TABLE_SCHEMA = 'TheSchema'))
BEGIN
    CREATE TABLE tbl_sede_usuario
	(
		Id int identity(1,1) primary key,
		Id_sede int,
		Id_psicologo int,
		Fecha DATE,
		Principal BIT
	)
END

GO

IF (EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME='tbl_sede'))-- and TABLE_SCHEMA = 'TheSchema'))
BEGIN
    IF (SELECT COUNT(*) FROM tbl_sede) = 0
	BEGIN
		INSERT INTO tbl_sede select 'La Molina',1;
		INSERT INTO tbl_sede select 'Surco',1;
	END
END

GO

IF COL_LENGTH('tbl_cita','Id_sede') IS NULL
BEGIN
	alter table tbl_cita add id_sede INT;
END

GO

IF COL_LENGTH('tbl_cita','Id_sede') IS NOT NULL
BEGIN
	if (select count(*) from tbl_cita where id_sede = 1) = 0
	begin
		update tbl_cita set id_sede = 1;
	end
END

GO

PRINT 'UPDATE SP';

GO

ALTER PROCEDURE [dbo].[SP_LISTAR_PRODUCTOS_COMBO]
AS
BEGIN
	SET NOCOUNT ON;

	declare @moneda varchar(10)= 'S/.';

	declare @temp table (
		orden int identity(1,1) primary key,
		Id int,
		Nombre varchar(100),
		Alias varchar(100),
		Precio varchar(20),
		Color varchar(10)
	)

	insert into @temp
	SELECT
		p.id 'Id',
		p.Nombre,
		CONCAT(p.Nombre, ' - ', @moneda, p.Precio) 'Alias',
		concat(@moneda,p.Precio) 'Precio',
		ISNULL(p.Color,'') 'Color'
	FROM Productos p
	--WHERE EsTaller=0
	order by p.Nombre

	--insert into @temp
	--SELECT
	--	p.id 'Id',
	--	p.Nombre,
	--	CONCAT('TALLER: ',p.Nombre, ' - ', @moneda, p.Precio) 'Alias',
	--	concat(@moneda,p.Precio) 'Precio',
	--	ISNULL(p.Color,'') 'Color'
	--FROM Productos p
	--WHERE EsTaller=1
	--order by p.Nombre

	select * from @temp

END

GO

ALTER PROCEDURE [dbo].[SP_LISTAR_DISPONIBILIDAD_DOCTOR]
(
	@id_doctor int,
	@fecha varchar(10)
)
AS
BEGIN
	SET NOCOUNT ON;

	declare @fecha_ date = convert(date, @fecha);

	declare @temp_horas table (
		hora_cita varchar(8),
		hora_calculo int,
		estado varchar(20),
		mostrar bit
	)

	declare @refrigerio VARCHAR(8) = (select CONCAT(CASE Refrigerio WHEN '13:00' THEN '01:00' WHEN '14:00' THEN '02:00' ELSE Refrigerio END,' PM') from tbl_psicologo where Id = @id_doctor);

	declare @inicioLabores int, @finLabores int;
	select @inicioLabores = cast(left(InicioLabores, 2) as int), @finLabores = cast(left(FinLabores, 2) as int) from tbl_psicologo where Id=@id_doctor;

	insert into @temp_horas select '07:00 AM', 7,  '', 0;
	insert into @temp_horas select '08:00 AM', 8,  '', 0;
	insert into @temp_horas select '09:00 AM', 9,  '', 0;
	insert into @temp_horas select '10:00 AM', 10, '', 0;
	insert into @temp_horas select '11:00 AM', 11, '', 0;
	insert into @temp_horas select '12:00 PM', 12, '', 0;
	insert into @temp_horas select '01:00 PM', 13, '', 0;
	insert into @temp_horas select '02:00 PM', 14, '', 0;
	insert into @temp_horas select '03:00 PM', 15, '', 0;
	insert into @temp_horas select '04:00 PM', 16, '', 0;
	insert into @temp_horas select '05:00 PM', 17, '', 0;
	insert into @temp_horas select '06:00 PM', 18, '', 0;

	update @temp_horas set mostrar=1 where hora_calculo between @inicioLabores and (@finLabores-1);
	update @temp_horas set estado = 'REFRIGERIO', mostrar=1 where hora_cita=@refrigerio;
	delete from @temp_horas where mostrar=0;

	select
		t.hora_cita,
		case
			when t.estado <> '' then t.estado
			when c.id_cita is null then 'DISPONIBLE'
			else 'RESERVADO'
		end 'estado'
	from @temp_horas t
	left join tbl_cita c on c.id_doctor_asignado = @id_doctor and c.fecha_cita = @fecha_ and c.hora_cita = convert(time, convert(datetime, t.hora_cita, 0))
	
END

GO

ALTER PROCEDURE [dbo].[sp_agregar_psicologo]
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @FechaNacimiento DATE,
    @DocumentoTipo NVARCHAR(50),
    @DocumentoNumero NVARCHAR(50),
    @Telefono NVARCHAR(50),
	@Refrigerio NVARCHAR(5),
	@InicioLabores NVARCHAR(5),
	@FinLabores NVARCHAR(5),
	@IdSedePrincipal INT,
	@IdSedeSecundaria INT,
    @Especialidad INT,
	@Direccion NVARCHAR(200),
    @Distrito NVARCHAR(6),
    @Estado NVARCHAR(20),
	@EstudiosPsicologo type_estudios_psicologo READONLY
AS
BEGIN
    INSERT INTO tbl_psicologo (Nombre, Apellido, FechaNacimiento, DocumentoTipo, DocumentoNumero, Telefono, Refrigerio, InicioLabores, FinLabores, Especialidad, Direccion, Distrito, Estado)
    VALUES (@Nombre, @Apellido, @FechaNacimiento, @DocumentoTipo, @DocumentoNumero, @Telefono, @Refrigerio, @InicioLabores, @FinLabores, @Especialidad, @Direccion, @Distrito, @Estado);

	DECLARE @IdPsicologo INT = @@IDENTITY;
	DECLARE @f_actual DATE = dbo.Get_date();
	DECLARE @id_tipo_usuario INT = 4; --psicologo
	DECLARE @tipo_doc varchar(20) = (select descripcion from tbl_tipo_documento where id=@DocumentoTipo);
	DECLARE @email varchar(20) = '';
	DECLARE @login varchar(20) = '';

	insert into tbl_usuario (nombres, apellidos, id_tipousuario, password, habilitado, tipo_documento, num_documento, email, test_actual, login)
	values (@Nombre, @Apellido, @id_tipo_usuario, dbo.fn_EncriptarPassword(@DocumentoNumero), cast(@estado as int), @tipo_doc, @DocumentoNumero, @email, 0, @login);

	INSERT INTO tbl_sede_usuario select @IdSedePrincipal, @IdPsicologo, @f_actual, 1;
	if (@IdSedeSecundaria <> -1)
	begin
		INSERT INTO tbl_sede_usuario select @IdSedeSecundaria, @IdPsicologo, @f_actual, 0;
	end

	INSERT INTO tbl_estudios_psicologo
	SELECT @IdPsicologo, es.GradoAcademico, es.Institucion, es.Carrera FROM @EstudiosPsicologo es
END

GO

ALTER PROCEDURE [dbo].[sp_actualizar_psicologo]
    @Id INT,
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @FechaNacimiento DATE,
    @DocumentoTipo NVARCHAR(50),
    @DocumentoNumero NVARCHAR(50),
    @Telefono NVARCHAR(50),
	@Refrigerio NVARCHAR(5),
	@InicioLabores NVARCHAR(5),
	@FinLabores NVARCHAR(5),
	@IdSedePrincipal INT,
	@IdSedeSecundaria INT,
    @Especialidad INT,
	@Direccion NVARCHAR(200),
    @Distrito NVARCHAR(6),
    @Estado NVARCHAR(20),
	@EstudiosPsicologo type_estudios_psicologo READONLY
AS
BEGIN
    UPDATE tbl_psicologo SET
		Nombre = @Nombre,
		Apellido = @Apellido,
        FechaNacimiento = @FechaNacimiento,
        DocumentoTipo = @DocumentoTipo,
        DocumentoNumero = @DocumentoNumero,
        Telefono = @Telefono,
		Refrigerio = @Refrigerio,
		InicioLabores = @InicioLabores,
		FinLabores = @FinLabores,
        Especialidad = @Especialidad,
		Direccion = @Direccion,
        Distrito = @Distrito,
        Estado = @Estado
    WHERE Id = @Id;

	DECLARE @f_actual DATE = dbo.Get_date();
	DELETE FROM tbl_estudios_psicologo WHERE IdPsicologo=@Id;
	DELETE FROM tbl_sede_usuario WHERE Id_psicologo=@Id;

	INSERT INTO tbl_sede_usuario select @IdSedePrincipal, @Id, @f_actual, 1;
	if (@IdSedeSecundaria <> -1)
	begin
		INSERT INTO tbl_sede_usuario select @IdSedeSecundaria, @Id, @f_actual, 0;
	end

	INSERT INTO tbl_estudios_psicologo
	SELECT es.IdPsicologo, es.GradoAcademico, es.Institucion, es.Carrera FROM @EstudiosPsicologo es
END

GO

ALTER PROCEDURE [dbo].[SP_REGISTRAR_CITA]
(
	@id_cita int,
	@id_paciente int,
	@fecha_cita varchar(10),
	@hora_cita varchar(8),
	@id_doctor int,
	@monto_pactado decimal(10,2) = null,
	@id_servicio int,
	@id_sede int,
	@usuario varchar(50)
)
AS
BEGIN
	SET NOCOUNT ON;

	declare @estado_cita int = 1;
	declare @fecha_cita_ date = convert(date, @fecha_cita);
	declare @hora_cita_ time = convert(time, convert(datetime, @hora_cita, 0));
	declare @fecha_hora_cita_ datetime = CAST(@fecha_cita_ AS DATETIME) + CAST(@hora_cita_ AS DATETIME);

	declare @moneda varchar(10) = 'S/.';
	declare @inicio time = convert(time, convert(datetime, '08:00 AM', 0));
	declare @fin time = convert(time, convert(datetime, '05:00 PM', 0));

	set @monto_pactado = (select Precio from Productos where id=@id_servicio);

	if (select id_tipousuario from tbl_usuario where num_documento=@usuario) <> 4
	begin
		select Id_sede from tbl_sede_usuario where Principal=1 and id_psicologo=@id_doctor;
	end

	IF @fecha_hora_cita_ < dbo.Get_date()
	BEGIN
		SELECT 'La fecha y hora seleccionados son incorrectos.' AS 'rpta';
	END
	ELSE
	BEGIN
		IF @hora_cita_ BETWEEN @inicio AND @fin
		BEGIN
			IF EXISTS (SELECT * FROM tbl_cita WHERE hora_cita = @hora_cita_ and fecha_cita = @fecha_cita_ and id_cita <> @id_cita and id_doctor_asignado = @id_doctor and id_estado_cita <> 4)
			BEGIN
				SELECT 'Ya hay una cita registrada en el horario seleccionado.' AS 'rpta';
			END
			ELSE
			BEGIN

				IF @id_cita = 0
				BEGIN
					IF EXISTS (SELECT * FROM tbl_cita WHERE id_doctor_asignado = @id_doctor and hora_cita = @hora_cita_ and fecha_cita = @fecha_cita_ and id_cita <> @id_cita and id_estado_cita <> 4)
					BEGIN
						SELECT 'Ya hay una cita registrada en el horario seleccionado.' AS 'rpta';
					END
					ELSE
					BEGIN
						INSERT INTO tbl_cita (id_paciente, fecha_cita, hora_cita, id_doctor_asignado, id_estado_cita, tipo, Moneda, Monto_pactado, Monto_pagado, Monto_pendiente, id_servicio, id_sede, usuario_registra, fecha_registra)
						VALUES (@id_paciente, @fecha_cita_, @hora_cita_, @id_doctor, @estado_cita, 'CITA', @moneda, @monto_pactado, 0.00, @monto_pactado, @id_servicio, @id_sede, @usuario, dbo.Get_date());

						set @id_cita = @@IDENTITY;
						insert into tbl_historial_cita select @id_cita, 1, (select ec.estado_cita from tbl_estados_cita ec WHERE ec.id_estado_cita=@estado_cita), @usuario, dbo.Get_date();

						SELECT 'OK' AS 'rpta';
					END
				END
				ELSE
				IF @id_cita > 0
				BEGIN
					IF EXISTS (SELECT * FROM tbl_cita WHERE id_doctor_asignado = @id_doctor and hora_cita = @hora_cita_ and fecha_cita = @fecha_cita_ and id_cita <> @id_cita and id_estado_cita <> 4)
					BEGIN
						SELECT 'Ya hay una cita registrada en el horario seleccionado.' AS 'rpta';
					END
					ELSE
					BEGIN
						--verificar 24 horas restantes para la cita
						declare @fecha_hora_actual datetime = dbo.Get_date();
						declare @fecha_hora_cita datetime = (select (CAST(fecha_cita AS datetime) + CAST(hora_cita AS datetime)) from tbl_cita where id_cita = @id_cita);
						declare @mins_x_dia int = 1440;
						declare @mins_hasta_cita int = datediff(minute,@fecha_hora_actual, @fecha_hora_cita);
						
						if (@mins_hasta_cita < @mins_x_dia)
						begin
							SELECT 'La reprogramación de citas es hasta 24 horas antes.' AS 'rpta';
						end
						else
						begin
							UPDATE tbl_cita SET
								fecha_cita = @fecha_cita_,
								hora_cita = @hora_cita_,
								id_doctor_asignado = @id_doctor,
								moneda = @moneda,
								Monto_pactado = @monto_pactado,
								id_servicio = @id_servicio,
								usuario_modifica = @usuario,
								fecha_modifica = dbo.Get_date()
							WHERE id_cita = @id_cita;

							insert into tbl_historial_cita select @id_cita, 0, 'REPROGRAMACIÓN', @usuario, dbo.Get_date();

							SELECT 'OK' AS 'rpta';
						end
					END
				END

			END
		END
		ELSE
		BEGIN
			SELECT 'El registro de citas debe ser entre las 08:00 AM y 05:00 PM.' AS 'rpta';
		END
	END

END

GO

ALTER PROCEDURE [dbo].[SP_ATENDER_CITA]
(
	@id_cita int,
	@usuario varchar(50)
)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @estado_cita INT = 2;
	DECLARE @sgte_estado_cita INT = 3;

	IF (SELECT id_estado_cita FROM tbl_cita WHERE id_cita=@id_cita) = @estado_cita
	BEGIN
		update tbl_cita set
			id_estado_cita = @sgte_estado_cita
		where id_cita=@id_cita;

		insert into tbl_historial_cita select @id_cita, 1, (select ec.estado_cita from tbl_estados_cita ec WHERE ec.id_estado_cita=@sgte_estado_cita), @usuario, dbo.Get_date();

		SELECT 'OK' AS 'rpta';
	END
	ELSE
	BEGIN
		SELECT 'La cita ya ha sido atendida.' AS 'rpta';
	END

END

GO

ALTER PROCEDURE [dbo].[SP_CANCELAR_CITA]
(
	@id_cita int,
	@usuario varchar(50)
)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @estado_cita INT = (SELECT id_estado_cita FROM tbl_cita WHERE id_cita=@id_cita);
	DECLARE @sgte_estado_cita INT = 4;

	IF @estado_cita IN (1,2) /*CITADO, CONFIRMADO*/
	BEGIN
		update tbl_cita set
			id_estado_cita = @sgte_estado_cita
		where id_cita=@id_cita;

		insert into tbl_historial_cita select @id_cita, 1, (select ec.estado_cita from tbl_estados_cita ec WHERE ec.id_estado_cita=@sgte_estado_cita), @usuario, dbo.Get_date();

		SELECT 'OK' AS 'rpta';
	END
	ELSE
	BEGIN
		IF @estado_cita = 3 --ATENDIDO
		BEGIN
			SELECT 'La cita ya ha sido atendida.' AS 'rpta';
		END
		ELSE
		IF @estado_cita = 4 --CANCELADO
		BEGIN
			SELECT 'La cita ya ha sido cancelada.' AS 'rpta';
		END
	END

END

GO

ALTER PROCEDURE [dbo].[SP_VALIDAR_USUARIO]
(
	@usuario varchar(100),
	@password varchar(50)
)
as
begin
	set nocount on;

	declare @error varchar(100) = '';

	if exists (select * from tbl_usuario where email = @usuario)
	begin
		if (select dbo.fn_DesencriptarPassword(password) from tbl_usuario where email = @usuario) = @password
		begin
			if (select habilitado from tbl_usuario where email = @usuario and dbo.fn_DesencriptarPassword(password) = @password) = 1
			begin
				set @error = ''
			end
			else
			begin
				set @error = 'El usuario no se encuentra habilitado'
			end
		end
		else
		begin
			set @error = 'Credenciales incorrectas'
		end
	end
	else
	begin
		set @error = 'El usuario no se encuentra registrado'
	end

	if @error = ''
	begin
		select
			u.id_usuario,
			u.nombres,
			u.apellidos,
			u.id_tipousuario,
			isnull(p.Id, 0) 'id_psicologo',
			tu.tipousuario,
			u.tipo_documento,
			u.num_documento,
			u.test_actual,
			u.login,
			0 'id_sede',
			'OK' 'validacion'
		from tbl_usuario u
		inner join tbl_tipousuario tu on tu.id_tipousuario = u.id_tipousuario
		left join tbl_psicologo p on p.DocumentoNumero=u.num_documento
		where u.email = @usuario
		and dbo.fn_DesencriptarPassword(u.password) = @password
	end
	else
	begin
		select
			0 id_usuario,
			'' nombres,
			'' apellidos,
			0 id_tipousuario,
			0 id_psicologo,
			'' tipousuario,
			'' tipo_documento,
			'' num_documento,
			0 test_actual,
			'' login,
			0 'id_sede',
			@error 'validacion'
	end

end

GO

ALTER PROCEDURE [dbo].[SP_LISTAR_CITAS_USUARIO]
(
	@id_usuario INT,
	@id_paciente INT,
	@id_doctor INT
)
AS
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @id_tipousuario INT;
	DECLARE @dni_usuario VARCHAR(8);

	SELECT
		@id_tipousuario = u.id_tipousuario,
		@dni_usuario = u.num_documento
	FROM tbl_usuario u WHERE u.id_usuario=@id_usuario;

	IF (@id_tipousuario = 4)--PSICOLOGO
	BEGIN
		SET @id_doctor = (SELECT Id FROM tbl_psicologo WHERE DocumentoNumero=@dni_usuario);
	END

	SELECT
		c.id_cita,
		c.id_estado_cita,
		e.estado_cita 'estado',
		CONVERT(varchar(10), CONVERT(date, c.fecha_cita)) 'fecha_cita',
		REPLACE(REPLACE(RIGHT(CONCAT('0', CONVERT(varchar(15),c.hora_cita,100)), 7), 'PM', ' PM'), 'AM', ' AM') 'hora_cita',
		c.id_doctor_asignado,
		ps.Nombre 'doctor_asignado',
		c.tipo,
		pa.Id 'id_paciente',
		CONCAT(LTRIM(RTRIM(pa.Nombre)), ' ', LTRIM(RTRIM(pa.Apellido))) 'paciente',
		pa.Telefono 'telefono',
		c.Moneda 'moneda',
		c.Monto_pactado 'monto_pactado',
		c.Monto_pagado 'monto_pagado',
		c.Monto_pendiente 'monto_pendiente',
		c.id_servicio 'id_servicio',
		cast(0 as bit) 'esTaller'
		--isnull(p.esTaller, cast(0 as bit)) 'esTaller'
	FROM tbl_cita c
	INNER JOIN tbl_psicologo ps ON ps.Id = c.id_doctor_asignado
	INNER JOIN tbl_paciente pa ON pa.Id = c.id_paciente
	INNER JOIN tbl_estados_cita e ON e.id_estado_cita = c.id_estado_cita
	INNER JOIN Productos p on p.id = c.id_servicio
	WHERE c.tipo in ('CITA')
	AND c.id_estado_cita in (
		1,--citado
		2,--confirmado
		3 --atendido
	)
	AND (@id_paciente=-1 OR @id_paciente=pa.Id)
	AND (@id_doctor=-1 OR @id_doctor=c.id_doctor_asignado)
	--AND c.id_usuario = @id_usuario
	order by (CAST(c.fecha_cita AS datetime) + CAST(c.hora_cita AS datetime))

END

GO

ALTER PROCEDURE [dbo].[sp_obtener_psicologo]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Obtener los datos del psicologo según el ID
    SELECT
		p.Id,
		p.Nombre,
		p.Apellido,
		p.FechaNacimiento,
		p.DocumentoTipo,
		p.DocumentoNumero,
		p.Telefono,
		p.Refrigerio,
		isnull(p.InicioLabores,'-1') 'InicioLabores',
		isnull(p.FinLabores,'-1') 'FinLabores',
		isnull(su1.Id_sede, -1) 'IdSedePrincipal',
		isnull(su2.Id_sede, -1) 'IdSedeSecundaria',
		p.Especialidad,
		p.Direccion,
		p.Distrito,
		p.Estado
    FROM [dbo].[tbl_psicologo] p
	LEFT JOIN tbl_sede_usuario su1 ON su1.Id_psicologo=p.Id and su1.Principal=1
	LEFT JOIN tbl_sede_usuario su2 ON su2.Id_psicologo=p.Id and su2.Principal=0
    WHERE p.Id = @Id;
END

GO

PRINT 'CREATE SP';

GO

IF EXISTS (SELECT 1 FROM sys.procedures WHERE Name = 'SP_LISTAR_SEDES_X_USUARIO')
BEGIN
    DROP PROCEDURE SP_LISTAR_SEDES_X_USUARIO;
END
GO
CREATE PROCEDURE SP_LISTAR_SEDES_X_USUARIO
(
	@id_usuario INT
)
AS
BEGIN

	DECLARE @f_actual DATE = dbo.Get_date();

	declare @dni varchar(8) = (select num_documento from tbl_usuario where id_usuario=@id_usuario);
	declare @id_psicologo int = (select Id from tbl_psicologo where DocumentoNumero=@dni);
	
	SELECT
		s.Id 'Id_Sede',
		s.Nombre
	FROM tbl_usuario u
	LEFT JOIN tbl_sede_usuario su ON su.Id_psicologo=@id_psicologo AND su.Fecha = @f_actual
	INNER JOIN tbl_sede s ON s.Id=su.Id_sede
	WHERE u.id_usuario = @id_usuario

END

GO

IF EXISTS (SELECT 1 FROM sys.procedures WHERE Name = 'SP_LISTAR_SEDES_COMBO')
BEGIN
    DROP PROCEDURE SP_LISTAR_SEDES_COMBO;
END
GO
CREATE PROCEDURE SP_LISTAR_SEDES_COMBO
AS
BEGIN

	SELECT
		Id 'Id_Sede',
		Nombre
	FROM tbl_sede

END