USE DB_PSYCO
GO

--SP_LISTAR_CITAS_USUARIO 1,-1,11,-1
ALTER PROCEDURE [dbo].[SP_LISTAR_CITAS_USUARIO]
(
	@id_usuario INT,
	@id_paciente INT,
	@id_doctor INT,
	@id_sede INT
)
AS
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @id_tipousuario INT;
	DECLARE @dni_usuario VARCHAR(8);
	DECLARE @actual DATE=dbo.Get_date();
	DECLARE @inicio DATE=DATEADD(DAY, -14, @actual), @fin DATE=DATEADD(DAY, 14, @actual);

	SELECT
		@id_tipousuario = u.id_tipousuario,
		@dni_usuario = u.num_documento
	FROM tbl_usuario u WHERE u.id_usuario=@id_usuario;

	IF (@id_tipousuario = 4)--PSICOLOGO
	BEGIN
		SET @id_doctor = (SELECT Id FROM tbl_psicologo WHERE DocumentoNumero=@dni_usuario);
	END

	SELECT
		c.id_cita,
		c.id_estado_cita,
		e.estado_cita 'estado',
		CONVERT(varchar(10), CONVERT(date, c.fecha_cita)) 'fecha_cita',
		REPLACE(REPLACE(RIGHT(CONCAT('0', CONVERT(varchar(15),c.hora_cita,100)), 7), 'PM', ' PM'), 'AM', ' AM') 'hora_cita',
		c.id_doctor_asignado,
		ps.Nombre 'doctor_asignado',
		c.tipo,
		pa.Id 'id_paciente',
		CONCAT(LTRIM(RTRIM(pa.Nombre)), ' ', LTRIM(RTRIM(pa.Apellido))) 'paciente',
		pa.Telefono 'telefono',
		c.Moneda 'moneda',
		c.Monto_pactado 'monto_pactado',
		c.Monto_pagado 'monto_pagado',
		c.Monto_pendiente 'monto_pendiente',
		c.id_servicio 'id_servicio',
		c.id_sede 'id_sede',
		isnull(p.esEvaluacion, cast(0 as bit)) 'esEvaluacion',
		case
			when p.Siglas is null then ''
			when p.Siglas = 'EG' then concat('(',p.Siglas,')')
			else concat('(',p.Siglas,c.orden,')')
		end 'siglas',
		ISNULL(c.feedback, CAST(0 AS BIT)) AS 'feedback', -- Aquí usamos ISNULL para garantizar que sea falso si está vacío
		c.comentario AS 'comentario',
		isnull(c.pago_gratis, 0) AS 'pago_gratis'
	FROM tbl_cita c
	INNER JOIN tbl_psicologo ps ON ps.Id = c.id_doctor_asignado
	INNER JOIN tbl_paciente pa ON pa.Id = c.id_paciente
	INNER JOIN tbl_estados_cita e ON e.id_estado_cita = c.id_estado_cita
	INNER JOIN Productos p on p.id = c.id_servicio
	WHERE c.tipo in ('CITA')
	AND c.id_estado_cita in (
		1,--citado
		2,--confirmado
		3 --atendido
	)
	AND (@id_paciente=-1 OR @id_paciente=pa.Id)
	AND (@id_doctor=-1 OR @id_doctor=c.id_doctor_asignado)
	AND (@id_sede=-1 OR @id_sede=c.id_sede)
	--AND c.id_usuario = @id_usuario
	AND (@id_tipousuario <> 3 OR c.fecha_cita between @inicio and @fin)
	order by (CAST(c.fecha_cita AS datetime) + CAST(c.hora_cita AS datetime))

END