USE DB_PSYCO
GO

IF (NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME='tbl_vacaciones_psicologo'))
BEGIN
    create table tbl_vacaciones_psicologo (
		Id int identity(1,1) primary key,
		Id_psicologo int,
		Fecha date
	)
END

GO

if not exists (select * from tbl_forma_pago where id=3)
begin
	insert into tbl_forma_pago select 'Pago gratis', 1;
end

GO

IF COL_LENGTH('Productos','Siglas') IS NULL
BEGIN
	alter table Productos add Siglas varchar(10) default null;
END

GO

IF COL_LENGTH('Productos','Siglas') IS NOT NULL
BEGIN
	update Productos set Siglas='STP' where id=7;
	update Productos set Siglas='SI' where id=8;
END

GO

if not exists (select * from Productos where Nombre='Evaluación gratuita')
begin
	insert into Productos (Nombre, Precio, Color, EsEvaluacion, NumSesiones, Siglas)
	values ('Evaluación gratuita', 0.00, null, 0, 0, 'EG');
end

GO

IF COL_LENGTH('tbl_cita','pago_gratis') IS NULL
BEGIN
	alter table tbl_cita add pago_gratis bit default 0;
END

GO

IF COL_LENGTH('tbl_cita','pago_gratis') IS NOT NULL
BEGIN
	update tbl_cita set pago_gratis=0;
END

GO

IF COL_LENGTH('tbl_cita','orden') IS NULL
BEGIN
	alter table tbl_cita add orden int default 0;
END

GO

IF COL_LENGTH('tbl_pago','comentario') IS NULL
BEGIN
	alter table tbl_pago add comentario varchar(50) default null;
END

GO

IF COL_LENGTH('tbl_cita','orden') IS NOT NULL
BEGIN
	update tbl_cita set orden=1 where id_cita=14;
	update tbl_cita set orden=2 where id_cita=15;
	update tbl_cita set orden=3 where id_cita=16;
	update tbl_cita set orden=4 where id_cita=17;
	update tbl_cita set orden=5 where id_cita=18;

	update tbl_cita set orden=1 where id_cita=19;
	update tbl_cita set orden=2 where id_cita=20;
	update tbl_cita set orden=3 where id_cita=21;
	update tbl_cita set orden=4 where id_cita=22;
	update tbl_cita set orden=5 where id_cita=23;
END

GO

/*
exec SP_LISTAR_HORARIO_PSICOLOGO 11, '2024-12-06', '2025-01-07', ''
exec SP_LISTAR_HORARIO_PSICOLOGO 11, '2024-12-06', '2025-01-07', '*LU**MI**SA*'
*/
ALTER PROCEDURE [dbo].[SP_LISTAR_HORARIO_PSICOLOGO]
(
	@id_psicologo int,
	@inicio date,
	@fin date,
	@dias varchar(28)
)
AS
BEGIN
	SET NOCOUNT ON;

	SET LANGUAGE Spanish;
	DECLARE @fechas TABLE ( Fecha date, NombreDia varchar(20), Inicio varchar(20), Fin varchar(20) );
	DECLARE @fechas2 TABLE ( Fecha date, NombreDia varchar(20), Inicio varchar(20), Fin varchar(20) );

	WITH DateTable AS
	(
		SELECT
			DATEADD(month, DATEDIFF(month, 0, @inicio), 0) AS [date]
		UNION ALL
		SELECT
			DATEADD(DAY, 1, [date])
		FROM DateTable
		WHERE DATEADD(DAY, 1, [date]) <= EOMONTH(@inicio)
	)
	insert into @fechas
	SELECT distinct
		CAST([date] AS DATE),
		UPPER(DATENAME(WEEKDAY, CAST([date] AS DATE))),
		'',
		''
	FROM DateTable
	WHERE UPPER(DATENAME(WEEKDAY, CAST([date] AS DATE))) NOT IN ('DOMINGO');
	--AND CAST([date] AS DATE) between @inicio and @fin;

	WITH DateTable2 AS
	(
		SELECT
			DATEADD(month, DATEDIFF(month, 0, @fin), 0) AS [date]
		UNION ALL
		SELECT
			DATEADD(DAY, 1, [date])
		FROM DateTable2
		WHERE DATEADD(DAY, 1, [date]) <= EOMONTH(@fin)
	)
	insert into @fechas
	SELECT distinct
		CAST([date] AS DATE),
		UPPER(DATENAME(WEEKDAY, CAST([date] AS DATE))),
		'',
		''
	FROM DateTable2
	WHERE UPPER(DATENAME(WEEKDAY, CAST([date] AS DATE))) NOT IN ('DOMINGO')
	--AND CAST([date] AS DATE) between @inicio and @fin

	insert into @fechas2
	select distinct
		convert(varchar(10), f.Fecha) 'Fecha',
		f.NombreDia,
		'',
		''
	from @fechas f
	where f.Fecha between @inicio and @fin

	declare @filtroDias table ( dia varchar(20) )
	IF @dias LIKE '%*LU*%' BEGIN INSERT INTO @filtroDias SELECT 'LUNES' END
	IF @dias LIKE '%*MA*%' BEGIN INSERT INTO @filtroDias SELECT 'MARTES' END
	IF @dias LIKE '%*MI*%' BEGIN INSERT INTO @filtroDias SELECT 'MIÉRCOLES' END
	IF @dias LIKE '%*JU*%' BEGIN INSERT INTO @filtroDias SELECT 'JUEVES' END
	IF @dias LIKE '%*VI*%' BEGIN INSERT INTO @filtroDias SELECT 'VIERNES' END
	IF @dias LIKE '%*SA*%' BEGIN INSERT INTO @filtroDias SELECT 'SÁBADO' END
	IF @dias LIKE '%*DO*%' BEGIN INSERT INTO @filtroDias SELECT 'DOMINGO' END

	select
		ROW_NUMBER() OVER(ORDER BY f.Fecha ASC) 'Orden',
		isnull((select h.Id from tbl_horarios_psicologo h where h.Fecha=f.Fecha and h.Id_psicologo=@id_psicologo), 0) 'Id',
		convert(varchar(10), f.Fecha) 'Fecha',
		f.NombreDia,
		isnull((select h.Inicio from tbl_horarios_psicologo h where h.Fecha=f.Fecha and h.Id_psicologo=@id_psicologo), '-1') 'Inicio',
		isnull((select h.Refrigerio from tbl_horarios_psicologo h where h.Fecha=f.Fecha and h.Id_psicologo=@id_psicologo), '-1') 'Refrigerio',
		isnull((select h.Fin from tbl_horarios_psicologo h where h.Fecha=f.Fecha and h.Id_psicologo=@id_psicologo), '-1') 'Fin'
	from @fechas2 f
	where (((select COUNT(*) from @filtroDias) = 0) or f.NombreDia in (select * from @filtroDias))

	--select
	--	f.Fecha,
	--	f.Inicio,
	--	f.Fin,
	--	h.Inicio,
	--	h.Fin
	--from @fechas f
	--left join tbl_horarios_psicologo h on h.Fecha=f.Fecha
	--where h.Id_psicologo=4
	--order by f.Fecha asc

	--select * from tbl_horarios_psicologo where Id_psicologo=4
	--and Fecha between @inicio and @fin

	SET LANGUAGE us_english;
END

GO
-- SP_LISTAR_CUADRE_CAJA '',1,10,-1,-1,-1
ALTER PROCEDURE [dbo].[SP_LISTAR_CUADRE_CAJA]
(
	@usuario VARCHAR(20),
	@pagina INT,
	@tamanoPagina INT,
	@mes INT,
	@anio INT,
	@sede INT
)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @Inicio INT = (@Pagina - 1) * @TamanoPagina;

	SELECT
		paciente,
		fecha_transaccion,
		estado_cita,
		servicio,
		forma_pago,
		detalle_transferencia,
		importe,
		estado_orden,
		usuario,
		Sede
	FROM (
		SELECT
			pa.Nombre 'paciente',
			p.fecha_registro 'fecha_transaccion',
			ec.estado_cita,
			pr.Nombre 'servicio',
			fp.descripcion 'forma_pago',
			ISNULL(dt.descripcion, '') 'detalle_transferencia',
			CONCAT(c.Moneda,p.importe) 'importe',
			CASE c.Monto_pendiente
				WHEN 0.00 THEN 'Pagado'
				ELSE 'Pendiente'
			END 'estado_orden',
			s.Nombre 'Sede',
			p.usuario_registro 'usuario',
			ROW_NUMBER() OVER (ORDER BY p.id) AS Fila
		FROM tbl_pago p
		INNER JOIN tbl_cita c ON c.id_cita = p.id_cita
		INNER JOIN tbl_paciente pa ON pa.id = c.id_paciente
		INNER JOIN tbl_estados_cita ec ON ec.id_estado_cita = c.id_estado_cita
		INNER JOIN Productos pr ON pr.id = c.id_servicio
		INNER JOIN tbl_forma_pago fp ON fp.id = p.id_forma_pago
		LEFT JOIN tbl_detalle_transferencia dt ON dt.id = p.id_detalle_transferencia
		LEFT JOIN tbl_sede s ON s.Id=c.Id_sede
		WHERE 1=1
		--(@usuario = '' OR p.usuario_registro = @usuario)
		AND (@mes = -1 OR DATEPART(MONTH, p.fecha_registro) = @mes)
		AND (@anio = -1 OR DATEPART(YEAR, p.fecha_registro) = @anio)
		AND (@sede = -1 OR c.Id_sede = @sede)
	) AS Numerados
	WHERE Fila > @Inicio AND Fila <= (@Inicio + @TamanoPagina)
    ORDER BY Fila;

END

GO

ALTER PROCEDURE [dbo].[SP_LISTAR_CAJA_MES_USUARIO]
(
	@usuario varchar(20),
	@mes INT,
	@año INT,
	@sede INT
)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @moneda VARCHAR(10) = 'S/.';

	SELECT
		CONCAT(@moneda,SUM(p.importe)) 'importe',
		p.usuario_registro 'usuario'
	FROM tbl_pago p
	LEFT JOIN tbl_cita c on c.id_cita=p.id_cita
	WHERE (@mes = -1 OR DATEPART(MONTH, p.fecha_registro) = @mes)
	AND (@año = -1 OR DATEPART(YEAR, p.fecha_registro) = @año)
	AND (@sede = -1 OR c.Id_sede = @sede)
	--AND (@usuario = '-1' OR p.usuario_registro = @usuario)
	GROUP BY p.usuario_registro, DATEPART(MONTH, p.fecha_registro), DATEPART(YEAR, p.fecha_registro)

END

GO

ALTER PROCEDURE [dbo].[SP_LISTAR_CAJA_MES_FORMA_PAGO]
(
	@usuario varchar(20),
	@mes INT,
	@año INT,
	@sede INT
)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @moneda VARCHAR(10) = 'S/.';

	SELECT
		COUNT(1) 'cantidad',
		CONCAT(@moneda,SUM(p.importe)) 'importe',
		f.descripcion 'forma_pago',
		ISNULL(d.descripcion, '') 'detalle_transferencia'
	FROM tbl_pago p
	INNER JOIN tbl_forma_pago f ON f.id = p.id_forma_pago
	LEFT JOIN tbl_detalle_transferencia d ON d.id = p.id_detalle_transferencia
	LEFT JOIN tbl_cita c on c.id_cita = p.id_cita
	WHERE (@mes = -1 OR DATEPART(MONTH, p.fecha_registro) = @mes)
	AND (@año = -1 OR DATEPART(YEAR, p.fecha_registro) = @año)
	AND (@sede = -1 OR c.Id_sede = @sede)
	--AND (@usuario = '-1' OR p.usuario_registro = @usuario)
	GROUP BY f.descripcion, d.descripcion, DATEPART(MONTH, p.fecha_registro), DATEPART(YEAR, p.fecha_registro)

END

GO

--SP_LISTAR_CITAS_USUARIO 1,-1,11,-1
ALTER PROCEDURE [dbo].[SP_LISTAR_CITAS_USUARIO]
(
	@id_usuario INT,
	@id_paciente INT,
	@id_doctor INT,
	@id_sede INT
)
AS
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @id_tipousuario INT;
	DECLARE @dni_usuario VARCHAR(8);

	SELECT
		@id_tipousuario = u.id_tipousuario,
		@dni_usuario = u.num_documento
	FROM tbl_usuario u WHERE u.id_usuario=@id_usuario;

	IF (@id_tipousuario = 4)--PSICOLOGO
	BEGIN
		SET @id_doctor = (SELECT Id FROM tbl_psicologo WHERE DocumentoNumero=@dni_usuario);
	END

	SELECT
		c.id_cita,
		c.id_estado_cita,
		e.estado_cita 'estado',
		CONVERT(varchar(10), CONVERT(date, c.fecha_cita)) 'fecha_cita',
		REPLACE(REPLACE(RIGHT(CONCAT('0', CONVERT(varchar(15),c.hora_cita,100)), 7), 'PM', ' PM'), 'AM', ' AM') 'hora_cita',
		c.id_doctor_asignado,
		ps.Nombre 'doctor_asignado',
		c.tipo,
		pa.Id 'id_paciente',
		CONCAT(LTRIM(RTRIM(pa.Nombre)), ' ', LTRIM(RTRIM(pa.Apellido))) 'paciente',
		pa.Telefono 'telefono',
		c.Moneda 'moneda',
		c.Monto_pactado 'monto_pactado',
		c.Monto_pagado 'monto_pagado',
		c.Monto_pendiente 'monto_pendiente',
		c.id_servicio 'id_servicio',
		c.id_sede 'id_sede',
		isnull(p.esEvaluacion, cast(0 as bit)) 'esEvaluacion',
		case
			when p.Siglas is null then ''
			when p.Siglas = 'EG' then concat('(',p.Siglas,')')
			else concat('(',p.Siglas,c.orden,')')
		end 'siglas',
		ISNULL(c.feedback, CAST(0 AS BIT)) AS 'feedback', -- Aquí usamos ISNULL para garantizar que sea falso si está vacío
		c.comentario AS 'comentario',
		isnull(c.pago_gratis, 0) AS 'pago_gratis'
	FROM tbl_cita c
	INNER JOIN tbl_psicologo ps ON ps.Id = c.id_doctor_asignado
	INNER JOIN tbl_paciente pa ON pa.Id = c.id_paciente
	INNER JOIN tbl_estados_cita e ON e.id_estado_cita = c.id_estado_cita
	INNER JOIN Productos p on p.id = c.id_servicio
	WHERE c.tipo in ('CITA')
	AND c.id_estado_cita in (
		1,--citado
		2,--confirmado
		3 --atendido
	)
	AND (@id_paciente=-1 OR @id_paciente=pa.Id)
	AND (@id_doctor=-1 OR @id_doctor=c.id_doctor_asignado)
	AND (@id_sede=-1 OR @id_sede=c.id_sede)
	--AND c.id_usuario = @id_usuario
	order by (CAST(c.fecha_cita AS datetime) + CAST(c.hora_cita AS datetime))

END

GO

ALTER PROCEDURE [dbo].[SP_REGISTRAR_CITA]
(
	@id_cita int,
	@id_paciente int,
	@fecha_cita varchar(10),
	@hora_cita varchar(8),
	@id_doctor int,
	@monto_pactado decimal(10,2) = null,
	@id_servicio int,
	@id_sede int,
	@usuario varchar(50),
	@adicional varchar(2),
	@feedback bit = NULL,            -- Nuevo parámetro
    @comentario varchar(500) = NULL, -- Nuevo parámetro
	@orden int = 0
)
AS
BEGIN
	SET NOCOUNT ON;

	declare @estado_cita int = 1;
	declare @fecha_cita_ date = convert(date, @fecha_cita);
	declare @hora_cita_ time = convert(time, convert(datetime, @hora_cita, 0));
	declare @fecha_hora_cita_ datetime = CAST(@fecha_cita_ AS DATETIME) + CAST(@hora_cita_ AS DATETIME);

	declare @moneda varchar(10) = 'S/.';
	declare @inicio time = convert(time, convert(datetime, '07:00 AM', 0));
	declare @fin time = convert(time, convert(datetime, '09:00 PM', 0));
	declare @siglas varchar(20) = (select Siglas from Productos where id=@id_servicio);
	set @monto_pactado = (select Precio from Productos where id=@id_servicio);

	if (@adicional = 'SI')
	begin
		set @monto_pactado = 0.00;
	end

	if exists (select * from tbl_vacaciones_psicologo where Id_psicologo=@id_doctor and Fecha=@fecha_cita)
	begin
		SELECT 'La fecha seleccionada es un día registrado como vacaciones.' AS 'rpta';
	end
	else
	begin

		IF @fecha_hora_cita_ < dbo.Get_date()
		BEGIN
			SELECT 'La fecha y hora seleccionados son incorrectos.' AS 'rpta';
		END
		ELSE
		BEGIN
			IF @hora_cita_ BETWEEN @inicio AND @fin
			BEGIN
				IF EXISTS (SELECT * FROM tbl_cita WHERE hora_cita = @hora_cita_ and fecha_cita = @fecha_cita_ and id_cita <> @id_cita and id_doctor_asignado = @id_doctor and id_estado_cita <> 4)
				BEGIN
					SELECT 'Ya hay una cita registrada en el horario seleccionado.' AS 'rpta';
				END
				ELSE
				BEGIN

					IF @id_cita = 0
					BEGIN
						IF EXISTS (SELECT * FROM tbl_cita WHERE id_doctor_asignado = @id_doctor and hora_cita = @hora_cita_ and fecha_cita = @fecha_cita_ and id_cita <> @id_cita and id_estado_cita <> 4)
						BEGIN
							SELECT 'Ya hay una cita registrada en el horario seleccionado.' AS 'rpta';
						END
						ELSE
						BEGIN
							INSERT INTO tbl_cita (id_paciente, fecha_cita, hora_cita, id_doctor_asignado, id_estado_cita, tipo, Moneda, Monto_pactado, Monto_pagado, Monto_pendiente, id_servicio, id_sede, usuario_registra, fecha_registra, feedback, comentario, orden, pago_gratis)
							VALUES (@id_paciente, @fecha_cita_, @hora_cita_, @id_doctor, @estado_cita, 'CITA', @moneda, @monto_pactado, 0.00, @monto_pactado, @id_servicio, @id_sede, @usuario, dbo.Get_date(), @feedback, @comentario, @orden, (case when @siglas = 'EG' then 1 else 0 end));

							set @id_cita = @@IDENTITY;
							insert into tbl_historial_cita select @id_cita, 1, (select ec.estado_cita from tbl_estados_cita ec WHERE ec.id_estado_cita=@estado_cita), @usuario, dbo.Get_date();

							SELECT 'OK' AS 'rpta';
						END
					END
					ELSE
					IF @id_cita > 0
					BEGIN
						IF EXISTS (SELECT * FROM tbl_cita WHERE id_doctor_asignado = @id_doctor and hora_cita = @hora_cita_ and fecha_cita = @fecha_cita_ and id_cita <> @id_cita and id_estado_cita <> 4)
						BEGIN
							SELECT 'Ya hay una cita registrada en el horario seleccionado.' AS 'rpta';
						END
						ELSE
						BEGIN
							--verificar 24 horas restantes para la cita
							declare @fecha_hora_actual datetime = dbo.Get_date();
							declare @fecha_hora_cita datetime = (select (CAST(fecha_cita AS datetime) + CAST(hora_cita AS datetime)) from tbl_cita where id_cita = @id_cita);
							declare @mins_x_dia int = 1440;
							declare @mins_hasta_cita int = datediff(minute,@fecha_hora_actual, @fecha_hora_cita);
						
							if (@mins_hasta_cita < @mins_x_dia)
							begin
								SELECT 'La reprogramación de citas es hasta 24 horas antes.' AS 'rpta';
							end
							else
							begin
								UPDATE tbl_cita SET
									fecha_cita = @fecha_cita_,
									hora_cita = @hora_cita_,
									id_doctor_asignado = @id_doctor,
									moneda = @moneda,
									Monto_pactado = @monto_pactado,
									id_servicio = @id_servicio,
									usuario_modifica = @usuario,
									fecha_modifica = dbo.Get_date(),
									feedback = @feedback,
									comentario = @comentario
								WHERE id_cita = @id_cita;

								insert into tbl_historial_cita select @id_cita, 0, 'REPROGRAMACIÓN', @usuario, dbo.Get_date();

								SELECT 'OK' AS 'rpta';
							end
						END
					END

				END
			END
			ELSE
			BEGIN
				SELECT 'El registro de citas debe ser entre las 08:00 AM y 05:00 PM.' AS 'rpta';
			END
		END

	end

END

GO

/*
exec SP_LISTAR_HORARIOS_SEMANA_PSICOLOGO '2025-01-20', '2025-01-26',7
*/
ALTER PROCEDURE [dbo].[SP_LISTAR_HORARIOS_SEMANA_PSICOLOGO]
(
	@inicio_ varchar(10),
	@fin_ varchar(10),
	@id_psicologo int
)
AS
BEGIN
	SET NOCOUNT ON;

	SET LANGUAGE Spanish;
	declare @inicio date = convert(date, @inicio_);
	declare @fin date = convert(date, @fin_);

	declare @horas table ( hora varchar(5), hora_formato varchar(8), tipo varchar(20) )
	insert into @horas select '06:00', '06:00 AM', 'HORARIO';
	insert into @horas select '07:00', '07:00 AM', 'HORARIO';
	insert into @horas select '08:00', '08:00 AM', 'HORARIO';
	insert into @horas select '09:00', '09:00 AM', 'HORARIO';
	insert into @horas select '10:00', '10:00 AM', 'HORARIO';
	insert into @horas select '11:00', '11:00 AM', 'HORARIO';
	insert into @horas select '12:00', '12:00 PM', 'HORARIO';
	insert into @horas select '13:00', '01:00 PM', 'HORARIO';
	insert into @horas select '14:00', '02:00 PM', 'HORARIO';
	insert into @horas select '15:00', '03:00 PM', 'HORARIO';
	insert into @horas select '16:00', '04:00 PM', 'HORARIO';
	insert into @horas select '17:00', '05:00 PM', 'HORARIO';
	insert into @horas select '18:00', '06:00 PM', 'HORARIO';
	insert into @horas select '19:00', '07:00 PM', 'HORARIO';
	insert into @horas select '20:00', '08:00 PM', 'HORARIO';
	insert into @horas select '21:00', '09:00 PM', 'HORARIO';
	insert into @horas select '22:00', '10:00 PM', 'HORARIO';

	--UPDATE @horas set tipo = 'REFRIGERIO' where hora in (select Refrigerio from tbl_horarios_psicologo where Id=@id_psicologo);

	declare @fechas table ( orden int identity(1,1) primary key, fecha date, inicio varchar(5), refrigerio varchar(5), fin varchar(5) )
	declare @fechasFinal table ( fecha_cita varchar(10), hora_cita varchar(8), tipo varchar(20) )

	insert into @fechas
	select
		Fecha, Inicio, Refrigerio, Fin
	from tbl_horarios_psicologo
	where Id_psicologo=@id_psicologo
	and Fecha between @inicio and @fin

	declare @i int = 1;
	declare @inicio_int int = 0, @refrigerio_int int = 0, @fin_int int = 0, @fecha date;
	while @i < (select COUNT(*)+1 from @fechas)
	begin
		select @inicio_int=CAST(LEFT(inicio, 2) AS int), @refrigerio_int=CAST(LEFT(refrigerio, 2) as int), @fin_int=CAST(LEFT(fin, 2) as int), @fecha = fecha from @fechas where orden=@i;
	
		insert into @fechasFinal
		select
			@fecha,
			hora_formato,
			tipo
		from @horas where CAST(LEFT(hora, 2) as int) between @inicio_int and @fin_int-1
		and hora not in (
			select CONVERT(varchar(5), hora_cita) from tbl_cita where id_doctor_asignado=@id_psicologo and id_estado_cita in (1,2,3) and fecha_cita=@fecha
		)

		set @i=@i+1;
	end

	declare @refrigerio table ( orden int identity(1,1) primary key, fecha varchar(10), hora varchar(5) )
	insert into @refrigerio
	select Fecha, Refrigerio from tbl_horarios_psicologo where Id_psicologo=@id_psicologo and Fecha between @inicio and @fin;

	declare @j int = 1, @hora_formato varchar(8), @fecha_buscar date;
	while (@j < (select COUNT(*)+1 from @refrigerio))
	begin
		select @hora_formato=h.hora_formato, @fecha_buscar=r.fecha from @refrigerio r inner join @horas h on h.hora=r.hora where r.orden=@j;
		update @fechasFinal set tipo='REFRIGERIO' where fecha_cita=@fecha_buscar and hora_cita=@hora_formato;
		set @j=@j+1;
	end

	select * from @fechasFinal

	SET LANGUAGE us_english;

END

GO

ALTER PROCEDURE [dbo].[SP_LISTAR_PSICOLOGOS_COMBO]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		p.Id 'id_psicologo',
		CONCAT(LTRIM(RTRIM(p.Nombre)),' ',LTRIM(RTRIM(p.Apellido))) 'nombres',
		isnull((case
			when exists (select * from tbl_sede_usuario s where s.Id_psicologo=p.Id and s.Principal in (1,0) )
				then CONCAT((select CONVERT(varchar(10),s.Id_sede) from tbl_sede_usuario s where s.id_psicologo=p.Id and s.Principal=1),'/',(select CONVERT(varchar(10), s.Id_sede) from tbl_sede_usuario s where s.id_psicologo=p.Id and s.Principal=0))
			else (select CONVERT(varchar(10),s.Id_sede) from tbl_sede_usuario s where s.id_psicologo=p.Id and s.Principal=1) 
		end), '-1') 'sedes'
	FROM tbl_psicologo p
	WHERE p.Estado=1
	order by p.Nombre, p.Apellido asc

END

GO

ALTER PROCEDURE [dbo].[SP_REGISTRAR_PAGO]
(
	@id_cita INT,
	@id_forma_pago INT,
	@id_detalle_transferencia INT,
	@importe DECIMAL(10,2),
	@usuario varchar(20),
	@comentario varchar(50) = null
)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @hora_limite_pago INT = 23;
	DECLARE @hora_pago INT = DATEPART(HOUR, dbo.Get_date());

	if (@id_forma_pago != 1)
	BEGIN
		SET @id_detalle_transferencia = -1;
	END

	IF (@hora_pago < @hora_limite_pago)
	BEGIN
		INSERT INTO tbl_pago (id_cita, id_forma_pago, id_detalle_transferencia, importe, fecha_registro, usuario_registro, comentario)
		VALUES (@id_cita, @id_forma_pago, @id_detalle_transferencia, @importe, dbo.Get_date(), @usuario, @comentario);

		UPDATE tbl_cita SET
			Monto_pagado = Monto_pagado + @importe,
			Monto_pendiente = Monto_pactado - (Monto_pagado + @importe)
		WHERE id_cita=@id_cita;

		SELECT 'OK' AS 'rpta';
	END
	ELSE
	BEGIN
		SELECT 'La hora límite para el registro de pagos son las 23:00' AS 'rpta';
	END

END

GO

ALTER PROCEDURE [dbo].[SP_LISTAR_HISTORIAL_PACIENTE]
(
	@id_paciente int
)
AS
BEGIN
	SET NOCOUNT ON;

	select distinct
		concat(p.Nombre,' ',p.Apellido) AS 'doctor',
		CONCAT(
			CONVERT(VARCHAR,h.fecha_registra,103),
			' ',
			RIGHT('0'+CONVERT(VARCHAR(15),CAST(h.fecha_registra AS TIME),100), 7)
		) 'fecha_registro',
		h.id_historial,
		h.fecha_registra 'fecha_orden'
	from tbl_cita c
	inner join tbl_psicologo p on p.Id=c.id_doctor_asignado
	inner join tbl_historial_cita h on h.id_cita=c.id_cita
	where h.mostrar=1
	and h.evento='ATENDIDO'
	and c.id_paciente=@id_paciente
	order by h.fecha_registra asc
	
END

GO

PRINT 'CREATE SP';

GO

IF EXISTS (SELECT 1 FROM sys.procedures WHERE Name = 'SP_VALIDAR_CITA')
BEGIN
    DROP PROCEDURE SP_VALIDAR_CITA;
END

GO

CREATE PROCEDURE [dbo].[SP_VALIDAR_CITA]
(
	@id_cita int,
	@id_paciente int,
	@fecha_cita varchar(10),
	@hora_cita varchar(8),
	@id_doctor int,
	@monto_pactado decimal(10,2) = null,
	@id_servicio int,
	@id_sede int,
	@usuario varchar(50),
	@adicional varchar(2),
	@feedback bit = NULL,            -- Nuevo parámetro
    @comentario varchar(500) = NULL, -- Nuevo parámetro
	@orden int = 0
)
AS
BEGIN
	SET NOCOUNT ON;

	declare @estado_cita int = 1;
	declare @fecha_cita_ date = convert(date, @fecha_cita);
	declare @hora_cita_ time = convert(time, convert(datetime, @hora_cita, 0));
	declare @fecha_hora_cita_ datetime = CAST(@fecha_cita_ AS DATETIME) + CAST(@hora_cita_ AS DATETIME);

	declare @moneda varchar(10) = 'S/.';
	declare @inicio time = convert(time, convert(datetime, '07:00 AM', 0));
	declare @fin time = convert(time, convert(datetime, '09:00 PM', 0));

	set @monto_pactado = (select Precio from Productos where id=@id_servicio);
	if (@adicional = 'SI')
	begin
		set @monto_pactado = 0.00;
	end

	IF @fecha_hora_cita_ < dbo.Get_date()
	BEGIN
		SELECT 'La fecha y hora seleccionados son incorrectos.' AS 'rpta';
	END
	ELSE
	BEGIN
		IF @hora_cita_ BETWEEN @inicio AND @fin
		BEGIN
			IF EXISTS (SELECT * FROM tbl_cita WHERE hora_cita = @hora_cita_ and fecha_cita = @fecha_cita_ and id_cita <> @id_cita and id_doctor_asignado = @id_doctor and id_estado_cita <> 4)
			BEGIN
				SELECT 'Ya hay una cita registrada:' AS 'rpta';
			END
			ELSE
			BEGIN

				IF EXISTS (SELECT * FROM tbl_cita WHERE id_doctor_asignado = @id_doctor and hora_cita = @hora_cita_ and fecha_cita = @fecha_cita_ and id_cita <> @id_cita and id_estado_cita <> 4)
				BEGIN
					SELECT 'Ya hay una cita registrada:' AS 'rpta';
				END
				ELSE
				BEGIN
					--INSERT INTO tbl_cita (id_paciente, fecha_cita, hora_cita, id_doctor_asignado, id_estado_cita, tipo, Moneda, Monto_pactado, Monto_pagado, Monto_pendiente, id_servicio, id_sede, usuario_registra, fecha_registra, feedback, comentario, orden)
					--VALUES (@id_paciente, @fecha_cita_, @hora_cita_, @id_doctor, @estado_cita, 'CITA', @moneda, @monto_pactado, 0.00, @monto_pactado, @id_servicio, @id_sede, @usuario, dbo.Get_date(), @feedback, @comentario, @orden);

					--set @id_cita = @@IDENTITY;
					--insert into tbl_historial_cita select @id_cita, 1, (select ec.estado_cita from tbl_estados_cita ec WHERE ec.id_estado_cita=@estado_cita), @usuario, dbo.Get_date();

					SELECT 'OK' AS 'rpta';
				END

			END
		END
		ELSE
		BEGIN
			SELECT 'El registro de citas debe ser entre las 07:00 AM y 09:00 PM.' AS 'rpta';
		END
	END

END

GO

IF EXISTS (SELECT 1 FROM sys.procedures WHERE Name = 'SP_GUARDAR_VACACIONES_PSICOLOGO')
BEGIN
    DROP PROCEDURE SP_GUARDAR_VACACIONES_PSICOLOGO;
END

GO

CREATE PROCEDURE SP_GUARDAR_VACACIONES_PSICOLOGO
(
	@Id int,
	@IdPsicologo int,
	@Fecha varchar(10),
	@Eliminar int,
	@TotalEliminar int
)
AS
BEGIN
	SET NOCOUNT ON;

	if (@Eliminar = 1)
	begin
		delete from tbl_vacaciones_psicologo where Id_psicologo=@IdPsicologo and DATEPART(YEAR, Fecha) = DATEPART(year, CONVERT(date, @Fecha));
	end

	insert into tbl_vacaciones_psicologo (Id_psicologo, Fecha) values (@IdPsicologo, @Fecha);
	select 'OK' as 'rpta';

	--if (@Id=0)
	--begin
		--insert into tbl_vacaciones_psicologo (Id_psicologo, Fecha) values (@IdPsicologo, @Fecha);
		--select 'OK' as 'rpta';
	--end
	--else
	--begin
	--	if (@Eliminar=1)
	--	begin
	--		delete from tbl_vacaciones_psicologo where Id=@Id and Id_psicologo=@IdPsicologo;
	--	end
	--	select 'OK' as 'rpta';
	--end

END

GO

IF EXISTS (SELECT 1 FROM sys.procedures WHERE Name = 'SP_LISTAR_VACACIONES_PSICOLOGO')
BEGIN
    DROP PROCEDURE SP_LISTAR_VACACIONES_PSICOLOGO;
END
GO
/*
exec SP_LISTAR_VACACIONES_PSICOLOGO 11, '2000-01-01', '2000-12-31',2025
*/
CREATE PROCEDURE SP_LISTAR_VACACIONES_PSICOLOGO
(
	@id_psicologo int,
	@inicio date,
	@fin date,
	@año int
)
AS
BEGIN
	SET NOCOUNT ON;

	SET LANGUAGE Spanish;
	DECLARE @fechas TABLE ( Fecha date, NombreDia varchar(20), Inicio varchar(20), Fin varchar(20) );
	DECLARE @fechas2 TABLE ( Fecha date, NombreDia varchar(20), Inicio varchar(20), Fin varchar(20) );

	insert into @fechas
	select
		v.Fecha,
		UPPER(DATENAME(WEEKDAY, CAST(v.Fecha AS DATE))),
		'',
		''
	from tbl_vacaciones_psicologo v
	where v.Id_psicologo=@id_psicologo
	and DATEPART(year, v.Fecha)=@año

	--WITH DateTable AS
	--(
	--	SELECT
	--		DATEADD(month, DATEDIFF(month, 0, '2025-01-01'), 0) AS [date]
	--	UNION ALL
	--	SELECT
	--		DATEADD(DAY, 1, [date])
	--	FROM DateTable
	--	WHERE DATEADD(DAY, 1, [date]) <= EOMONTH('2025-01-01')
	--)
	----insert into @fechas
	--SELECT distinct
	--	CAST([date] AS DATE),
	--	UPPER(DATENAME(WEEKDAY, CAST([date] AS DATE))),
	--	'',
	--	''
	--FROM DateTable
	--WHERE UPPER(DATENAME(WEEKDAY, CAST([date] AS DATE))) NOT IN ('SÁBADO','DOMINGO');

	--WITH DateTable2 AS
	--(
	--	SELECT
	--		DATEADD(month, DATEDIFF(month, 0, @fin), 0) AS [date]
	--	UNION ALL
	--	SELECT
	--		DATEADD(DAY, 1, [date])
	--	FROM DateTable2
	--	WHERE DATEADD(DAY, 1, [date]) <= EOMONTH(@fin)
	--)
	--insert into @fechas
	--SELECT distinct
	--	CAST([date] AS DATE),
	--	UPPER(DATENAME(WEEKDAY, CAST([date] AS DATE))),
	--	'',
	--	''
	--FROM DateTable2
	--WHERE UPPER(DATENAME(WEEKDAY, CAST([date] AS DATE))) NOT IN ('SÁBADO','DOMINGO')

	insert into @fechas2
	select distinct
		convert(varchar(10), f.Fecha) 'Fecha',
		f.NombreDia,
		'',
		''
	from @fechas f
	--where f.Fecha between @inicio and @fin

	select
		ROW_NUMBER() OVER(ORDER BY f.Fecha ASC) 'Orden',
		isnull((select h.Id from tbl_vacaciones_psicologo h where h.Fecha=f.Fecha and h.Id_psicologo=@id_psicologo), 0) 'Id',
		convert(varchar(10), f.Fecha) 'Fecha',
		f.NombreDia,
		'-' 'Inicio',
		'-' 'Refrigerio',
		'-' 'Fin',
		0 'Eliminar'
	from @fechas2 f

	SET LANGUAGE us_english;
END

GO

IF EXISTS (SELECT 1 FROM sys.procedures WHERE Name = 'SP_CITA_PAGO_GRATIS')
BEGIN
    DROP PROCEDURE SP_CITA_PAGO_GRATIS;
END
GO
/*
exec SP_CITA_PAGO_GRATIS 1
*/
CREATE PROCEDURE SP_CITA_PAGO_GRATIS
(
	@id_cita int
)
AS
BEGIN
	SET NOCOUNT ON;

	declare @pago_gratis bit = (select pago_gratis from tbl_cita where id_cita=@id_cita);

	if (@pago_gratis = 0)
	begin
		declare @id_forma_pago int = (select id from tbl_forma_pago where descripcion='Pago gratis');
		declare @id_detalle_transferencia int = -1;
		declare @f_actual date = dbo.Get_date();

		update tbl_cita set pago_gratis=1, Monto_pactado=0.00, Monto_pendiente=0.00 where id_cita=@id_cita;
		insert into tbl_pago (id_cita, id_forma_pago, id_detalle_transferencia, importe, fecha_registro, usuario_registro, comentario)
		values (@id_cita, @id_forma_pago, @id_detalle_transferencia, 0.00, @f_actual, '', 'PAGO GRATUITO');
	end

	select 'OK' as 'rpta';

END

GO

IF EXISTS (SELECT 1 FROM sys.procedures WHERE Name = 'SP_ACTUALIZAR_SERVICIO_CITA')
BEGIN
    DROP PROCEDURE SP_ACTUALIZAR_SERVICIO_CITA;
END

GO

CREATE PROCEDURE dbo.SP_ACTUALIZAR_SERVICIO_CITA
(
	@id_cita int,
	@id_servicio int
)
AS
BEGIN
	SET NOCOUNT ON;

	declare @nuevo_monto_pactado decimal(10,2) = (select Precio from Productos where id=@id_servicio);

	update tbl_cita SET
		id_servicio = @id_servicio,
		Monto_pactado = @nuevo_monto_pactado
	where id_cita=@id_cita;

	select 'OK' as 'RPTA';
END