
.active-modular-oscuro {
    background-color: var(--colormodular_oscura) !important;
}

.active-modular2-oscuro {
    background-color: var(--colormodular2_oscura) !important;
}

.active-fondo-oscuro {
    background-color: var(--colorfondo_oscura) !important;
}

/* Titulos de los modulos */

.active-titular-modulo {
    color: var(--colorletra_titular_oscura) !important;
}

/* Letras de los modulos */

.active-texto-modulo {
    color: var(--colorletra_oscura) !important;
}

/* select de los modulos */

.active-select-modulo {
    color: var(--colorletra_oscura) !important;
    background-color: var(--colorfondoletra_oscura) !important;
}

.active-select-modulo option {
    color: var(--colorletra_oscura) !important;
}

/* inputs de los modulos */

.active-input-modulo {
    color: var(--colorletra_oscura) !important;
    background-color: var(--colorfondoletra_oscura) !important;
}

/* Botones de los modulos */

.active-button-modulo {
    color: var(--colorletra_oscura) !important;
    background-color: transparent !important;
    border: 1px solid var(--colorborderbutton_oscura) !important;
}

.active-button-modulo i {
    color: #FFF !important;
}

.active-button-modulo:hover {
    color: var(--colorletra_oscura) !important;
    background-color: var(--colorfondobutton_oscura) !important;
    border: 1px solid var(--colorborderbutton_oscura) !important;
}

/* Tabla de los modulos */

.active-table-modulo {
    background-color: var(--colormodular_oscura);
}

.active-table-modulo tr:nth-of-type(odd) {
    background-color: var(--colormodular_oscura) !important;
}

.active-table-modulo tr:nth-of-type(even) {
    background-color: var(--colorletra_sin_seleccionar_oscura) !important;
}

.active-table-modulo td, .active-table-modulo th {
    color: var(--colorletra_oscura) !important;
    vertical-align: baseline;
}

/* Botones Tabla de los modulos */

.active-button-tabla-modulo {
    color: #FFF !important;
    background-color: var(--colorfondobutton_oscura) !important;
    border: 1px solid var(--colorborderbutton_oscura) !important;
}

.active-button-tabla-modulo i {
    color: var(--colormodular_oscura) !important;
}

.active-button-tabla-modulo:hover {
    color: #FFF !important;
    background-color: var(--colorfondo_oscura) !important;
    border: 1px solid var(--colorborderbutton_oscura) !important;
}

/* Paginacion Tabla  de los modulos */

.active-paginacion-tabla-modulo li:nth-of-type(odd) a {
    background-color: var(--colormodular_oscura) !important;
    color: #FFF !important;
}

.active-paginacion-tabla-modulo li:nth-of-type(even) a {
    background-color: var(--colorletra_sin_seleccionar_oscura) !important;
    color: #FFF !important;
}



