
/* Lista Administrador */

.sb-pa-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    gap: 2rem;
}

.sb-pa-container-buscar {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
}

.sb-pa-container-buscar-title p {
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    color: var(--colorbase2);
}

.sb-pa-container-buscador {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sb-pa-container-buscador-block > button {
    display: flex;
    align-items: center;
    gap: .3rem;
    background-color: var(--colorbase2);
    border: 1px solid var(--colorbase2);
    font-size: 16px;
    font-weight: 500;
    padding: .8rem 2.5rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}

.sb-pa-container-buscador-block > button i {
    color: #FFF;
}

.sb-pa-container-buscador-block > button:hover {
    background-color: var(--colorsecundario);
    border-color: var(--colorsecundario);
}

.sb-pa-container-buscador-block-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sb-pa-container-buscador-block-item span {
    font-weight: 400;
    font-size: 16px;
}

.sb-pa-container-buscador-block-item input {
    width: 19rem;
    min-height: 38px;
    border: 1px solid var(--colorbase2);
    border-radius: .3rem;
    padding: .5rem .75rem;
    color: #000;
}

.sb-pa-container-buscador-block-item button {
    display: flex;
    align-items: center;
    gap: .3rem;
    font-size: 16px;
    font-weight: 500;
    padding: .8rem 2.5rem;
    cursor: pointer;
    background-color: #FFF;
    border: 1px solid var(--colorbase2);
    color: var(--colorbase2);
    transition: .3s;
}

.sb-pa-container-buscador-block-item button i {
    color: var(--colorbase2);
}

.sb-pa-container-buscador-block-item button:hover {
    background-color: var(--colorbase2);
    color: #FFF;
}

.sb-pa-container-buscador-block-item button:hover i {
    color: #FFF;
}

/* Lista de Tabla */

.sb-pa-container-table table {
    border: 1px solid #e9ecef;
}

.sb-pa-container-table table thead tr th{
    text-align: center;
    font-size: 14px;
}

.sb-pa-container-table table tbody tr td, .sb-pa-container-table table tbody tr td span {
    text-align: center;
    vertical-align: baseline;
    font-size: 14px;
    line-height: 1.2;
}

.sb-pa-container-table table tbody tr td .sb-pa-container-table-button-edit {
    background-color: var(--colorbase2);
    border-color: var(--colorbase2);
    box-shadow: none;
    color: #FFF !important;
}

.sb-pa-container-table table tbody tr td .sb-pa-container-table-button-edit:hover {
    background-color: var(--colorsecundario);
    border-color: var(--colorsecundario);
    box-shadow: none;
}

.sb-pa-container-table table tbody tr td .sb-pa-container-table-button-delet {
    background-color: #FFF;
    color: var(--colorbase2) ;
    border-color: var(--colorbase2);
    box-shadow: none;
    font-weight: 600;
}

.sb-pa-container-table table tbody tr td .sb-pa-container-table-button-delet:hover {
    color: #FFF !important;
    background-color: var(--colorbase2);
}

/* Lista de Paginado */




/* Popup Agregar */
.sb-pa-container-agregar {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: none;
    top: 0;
    justify-content: center;
    align-items: center;
    transition: .3s;
    z-index: 999;
}

.sb-pa-container-agregar::before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .7;
}

.sb-pa-container-agregar-popup {
    width: 600px;
    height: auto;
    max-height: 90vh;
    background-color: #FFF;
    border-radius: 1rem;
    padding: 3rem 3rem;
    transition: 0.4s linear;
    overflow: auto;
}

.sb-pa-container-agregar-popup > p {
    font-size: 24px;
    color: var(--colorbase2);
    font-weight: 500;
    text-align: center;
}

#formPaciente {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sb-frm-agregar-block-button {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    gap: 1rem;
}

.sb-frm-agregar-block-button .btn-success {
    background-color: var(--colorbase2);
    border: 1px solid var(--colorbase2);
    font-size: 16px;
    font-weight: 500;
    padding: .6rem 2rem;
}

.sb-frm-agregar-block-button .btn-success:hover {
    background-color: var(--colorsecundario) !important;
    border: 1px solid var(--colorsecundario) !important;
}

.sb-frm-agregar-block-button .btn-secondary {
    border: 1px solid var(--colorbase2);
    color: var(--colorbase2);
    font-size: 16px;
    font-weight: 500;
    padding: .6rem 2rem;
}

.sb-frm-agregar-block-button .btn-secondary:hover {
    background-color: var(--colorbase2) !important;
    border: 1px solid var(--colorbase2) !important;
}

.sb-frm-agregar-block-item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.sb-frm-agregar-block-item > span {
    font-weight: 400;
}


@media screen and (width <= 950px) {

    ::-webkit-scrollbar {
        display: none;
    }

    .sb-pa-container {
        width: 100%;
        gap: 1rem;
        overflow: auto;
        padding: 1rem;
        margin: 0;
    }

    .sb-pa-container-buscar {
        gap: 1rem;
    }

    .sb-pa-container-buscar-title p {
        font-size: 20px;
    }

    .sb-pa-container-buscador-block > button {
        font-size: 14px;
        padding: .6rem 1.6rem;
    }

    .sb-pa-container-buscador-block-item {
        flex-direction: column;
        align-items: flex-start;
    }

        .sb-pa-container-buscador-block-item span {
            font-size: 14px;
        }

        .sb-pa-container-buscador-block-item input {
            font-size: 14px;
            padding: .5rem;
        }

        .sb-pa-container-buscador-block-item button {
            font-size: 14px;
            padding: .6rem 1.6rem;
        }


    .sb-pa-container-table div table thead tr th {
        font-size: 14px;
        line-height: 1.2;
    }

    .sb-pa-container-table div table tbody tr td {
        font-size: 14px;
        line-height: 1.2;
    }

    .sb-pa-container-tble-td {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .sb-pa-container-agregar-popup {
        width: 96%;
    }

        .sb-pa-container-agregar-popup > p {
            font-size: 20px;
        }

    .sb-frm-agregar-block-item > span {
        font-size: 14px;
    }

    .sb-frm-agregar-block-item > input {
        font-size: 14px;
    }

    .sb-frm-agregar-block-item > select {
        font-size: 14px;
    }

        .sb-frm-agregar-block-item > select > option {
            font-size: 14px;
        }

    .sb-frm-agregar-block-item > row {
        margin: 0;
    }

    .sb-pa-container-table {
        overflow: scroll;
    }

        .sb-frm-agregar-popuptable .table th {
            font-size: 14px;
        }

        .sb-frm-agregar-popuptable .table td {
            font-size: 14px;
        }

            .sb-frm-agregar-popuptable .table td select {
                font-size: 14px;
            }

                .sb-frm-agregar-popuptable .table td select option {
                    font-size: 14px;
                }

    .sb-frm-agregar-block-button .btn-success, .sb-frm-agregar-block-button .btn-secondary {
        font-size: 14px;
    }

    .sb-frm-agregar-block-button {
        margin: 0;
    }
}



