
.sb-reg-citas-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    gap: 2rem;
}

.sb-reg-citas-title p {
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    color: var(--colorbase2);
}

.sb-reg-citas-list-colores {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 1rem;
}

.sb-reg-citas-list-colores > div {
    display: flex;
    width: calc(100% / 6);
    padding: .5rem 0;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    user-select: none;
}

.sb-reg-citas-list-colores > div p {
    margin: 0;
    font-weight: 500;
    color: #FFF;
}

.sb-reg-citas-color-citado{
    background-color: #eb5151;
}

.sb-reg-citas-color-confirmado {
    background-color: #52a351;
}

.sb-reg-citas-color-en_proceso {
    background-color: #d7cc50;
}

.sb-reg-citas-color-atendido {
    background-color: #1c0ed0;
}

.sb-reg-citas-color-evaluacion {
    background-color: #880cb2;
}

.sb-reg-citas-color-taller {
    background-color: #603939;
}

.sb-reg-citas-color-informe {
    background-color: #ebb41b;
}

.nav_mes_anterior, .nav_mes_siguiente {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sb-reg-citas-arrow-left, .sb-reg-citas-arrow-right {
    text-align: center !important;
    color: #004A92;
    font-size: 20px;
    font-weight: bold;
}

.sb-reg-citas-popup-container {
    /*width: 800px;*/
    width: 80%;
    height: auto;
    max-height: 90vh;
    background-color: #FFF;
    border-radius: 1rem;
    padding: 3rem 3rem;
    transition: 0.4s linear;
    overflow: auto;
}

.sb-reg-citas-popup-title {
    border: none;
    justify-content: center;
}

    .sb-reg-citas-popup-title h5 {
        font-size: 24px;
        color: var(--colorbase2);
        font-weight: 500;
        text-align: center;
    }

.sb-reg-citas-popup-body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.sb-reg-citas-popup-body-tabs {
    display: flex;
    width: 100%;
    border: none;
}

.sb-reg-citas-popup-body-tabs-resumen, .sb-reg-citas-popup-body-tabs-historial {
    border: none;
    border-radius: 0;
}

.sb-reg-citas-popup-body-tabs-resumen, .sb-reg-citas-popup-body-tabs-historial {
    border-radius: 0;
}

.sb-reg-citas-popup-body-tabs-resumen a, .sb-reg-citas-popup-body-tabs-historial a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    border: 1px solid transparent;
}

.sb-reg-citas-popup-body-tabs-resumen:hover a, .sb-reg-citas-popup-body-tabs-historial:hover a {
    border: 1px solid #1656a0;
}

.sb-reg-citas-popup-body-tabs-resumen a p, .sb-reg-citas-popup-body-tabs-historial a p {
    margin: 0;
    font-weight: 600;
}

.sb-reg-citas-popup-body-tabs-resumen .active p, .sb-reg-citas-popup-body-tabs-historial .active p {
    color: #FFF;
}

/* Desktop */
@media (min-width: 992px) {

  .sb-reg-citas-popup-tab-panel-block-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: .5rem;
  }

  /* ancho uniforme de labels */
  .sb-reg-citas-popup-tab-panel-block-item .label-form {
      display: inline-block;
      width: 140px; /* puedes ajustar a tu texto */
      font-weight: 500;
      color: #333;
  }

  /* inputs crecen */
  .sb-reg-citas-popup-tab-panel-block-item input,
  .sb-reg-citas-popup-tab-panel-block-item select {
      flex: 1;
  }
}

.sb-reg-citas-popup-tab-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*.sb-reg-citas-popup-tab-panel-block-item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}*/

.sb-reg-citas-popup-button {
    background-color: var(--colorbase2) !important;
    border: 1px solid var(--colorbase2) !important;
    transition: .3s;
}

.sb-reg-citas-popup-button:hover {
    background-color: var(--colorsecundario) !important;
    border: 1px solid var(--colorsecundario) !important;
}

.sb-reg-citas-popup-button-volver {
    color: var(--colorbase2) !important;
    border: 1px solid var(--colorbase2) !important;
    transition: .3s;
}

.sb-reg-citas-popup-button-volver:hover {
    color: #fff !important;
    background-color: var(--colorbase2) !important;
}

.sb-reg-citas-popup-tab-historial {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sb-reg-citas-popup-tab-historial-block {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--colorbase2);
    border-radius: .4rem;
    padding: .5rem;
}

.sb-reg-citas-popup-tab-historial-block-item, .sb-reg-citas-popup-tab-historial-block-item-2 {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.sb-reg-citas-popup-tab-historial-block-item-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: .5rem;
}

.sb-reg-citas-popup-tab-historial-block-item p, .sb-reg-citas-popup-tab-historial-block-item-2 p {
    margin: 0;
    font-weight: 600;
}

.sb-reg-citas-historial-user{
    display: flex;
    gap: .5rem;
}

.sb-reg-citas-historial-user p, .sb-reg-citas-historial-user span {
    margin: 0;
    font-weight: 600;
}

.sb-reg-citas-container .btn-group .btn-vista {
    color: var(--colorbase2);
    border-color: var(--colorbase2);
}

    .sb-reg-citas-container .btn-group .btn-vista.active {
        color: #fff;
        background-color: var(--colorbase2);
        border-color: var(--colorbase2);
    }

    .sb-reg-citas-container .btn-group .btn-vista:hover {
        color: #fff;
        background-color: var(--colorbase2);
        border-color: var(--colorbase2);
    }

    .sb-reg-citas-list-filtro {
        display: flex;
        align-items: flex-end;
        gap: 1rem;
    }

    .sb-reg-citas-list-filtro > div {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .sb-reg-citas-list-filtro > div > .choices .choices__inner {
        border-color: var(--colorbase2);
        border-radius: 4px;
    }

        .sb-reg-citas-list-filtro > div > .choices .choices__inner .choices__list .choices__item {
            color: var(--colorbase2);
            background: transparent;
            opacity: 1;
        }

        .sb-reg-citas-list-filtro > div > .choices .choices__list.choices__list--dropdown {
            border: 1px solid var(--colorbase2);
        }

        .sb-reg-citas-list-filtro > div > .choices .choices__list.choices__list--dropdown input {
            color: var(--colorbase2);
            border: 1px solid var(--colorbase2);
        }

        .choices__list--dropdown .choices__item--selectable[data-select-text], .choices__list[aria-expanded] .choices__item--selectable[data-select-text] {
            color: var(--colorbase2);
        }

    .sb-reg-citas-button {
        display: flex;
        align-items: center;
        background-color: var(--colorbase2);
        border: 1px solid var(--colorbase2);
        padding: .8rem 1.5rem;
        cursor: pointer;
        transition: .3s;
        margin-left: 15px;
    }

        .sb-reg-citas-button:hover {
            background-color: var(--colorsecundario);
            border: 1px solid var(--colorsecundario);
        }


    .sb-reg-citas-button p {
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
        color: #FFF;
        margin: 0;
    }

        .sb-reg-citas-button:hover p {
            color: #FFF;
        }



    #cbo_seleccion_mes {
        padding: .5rem;
    }

    .sb-reg-citas-table-calendar {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .sb-reg-citas-table-calendar-month {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .sb-reg-citas-table-calendar-list > div{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    #tblSemanal{
        width: 100%;
    }

    #bdTblSemanal tr td {
        height: 40px !important;
        font-size: 14px;
    }

    #hdTblSemanal tr th {
        height: 40px !important;
        font-size: 14px;
    }

    .sb-reg-citas-table-calendar-table {
        padding: 0 15px;
    }

    /* Modal Pacientes */
    #pacientesModal {
        display: block;
        width: 800px;
        /*width: 70%;*/
        height: auto;
        max-height: 90vh;
        background-color: #FFF;
        border-radius: 1rem;
        padding: 1rem;
        transition: 0.4s linear;
        overflow: auto;
        margin: auto;
    }

    .modal-footer > .modal-close {
        display: flex;
        justify-content: center;
        font-size: 16px;
        font-weight: 500;
        padding: .6rem 2rem;
        cursor: pointer;
        background-color: #FFF;
        border: 1px solid var(--colorbase2);
        color: var(--colorbase2);
        transition: .3s;
    }

        .modal-footer > .modal-close:hover {
            background-color: var(--colorbase2);
            color: #FFF;
        }


    @media screen and (width <= 950px) {
        .sb-reg-citas-table-calendar-table {
        display: flex;
        overflow: scroll;
        flex-wrap: nowrap;
    }

    #tblSemanal {
        flex: 0 0 auto;
        min-width: 1200px;
    }

    #bdTblSemanal tr td {
        height: 35px !important;
        font-size: 12px;
    }

    #hdTblSemanal tr th {
        height: 35px !important;
        font-size: 12px;
    }

    .sb-reg-citas-container {
        padding: 1rem;
        gap: 1rem;
        overflow: auto;
    }

    .sb-reg-citas-list-colores{
        flex-wrap: wrap;
    }

    .sb-reg-citas-list-filtro {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }

    .sb-reg-citas-list-colores > div {
        width: 7rem;
        justify-content: space-evenly;
    }

        .sb-reg-citas-list-colores > div p {
            font-size: 14px;
        }

    .sb-reg-citas-button p{
        font-size: 14px;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .sb-reg-citas-title p{
        font-size: 20px;
    }

    .sb-reg-citas-list-filtro > div > span {
        font-size: 14px;
    }

    .sb-reg-citas-list-filtro > div > select {
        font-size: 14px;
    }

    .sb-reg-citas-list-filtro > div > select > option {
        font-size: 14px;
    }

    .sb-reg-citas-popup-container{
        width: 100%;
    }

    .sb-reg-citas-popup-title h5{
        font-size: 20px;
    }

    .sb-reg-citas-popup-tab-panel-block-item span{
        font-size: 14px;
    }

    .sb-reg-citas-popup-tab-panel-block-item input {
        font-size: 14px;
    }

    .sb-reg-citas-popup-tab-panel-block-item .input-group select {
        font-size: 14px;
    }

    .sb-reg-citas-popup-tab-panel-block-item .input-group select option{
        font-size: 14px;
    }

    .sb-reg-citas-popup-btn {
        flex-wrap: wrap;
        justify-content: center;
        gap: .3rem 0;
    }

    #pacientesModal{
        width: 96%;
    }


}




