@model IEnumerable<PsycoApp.site.Models.Paciente>

<link rel="stylesheet" href="~/src/css/sb-pacientes.css?ver=005" />

<div id="pacientesModal" class="modal" style="display:none;">
    <div class="modal-content">
        <div class="sb-pa-container">
            <div class="sb-pa-container-buscar">
                <div class="sb-pa-container-buscar-title">
                    <p>Búsqueda y registro de pacientes</p>
                </div>

                <!-- Campo de búsqueda por nombre -->
                <div class="sb-pa-container-buscador">
                    <div class="sb-pa-container-buscador-block">
                        <button type="button" onclick="mostrarFormularioAgregar()">
                            <i class="fa fa-plus"></i>&nbsp;Agregar
                        </button>
                    </div>
                    <div class="sb-pa-container-buscador-block">
                        <div class="sb-pa-container-buscador-block-item">
                            <span class="label-form">Nombre del paciente: </span>
                            <input id="txtBuscarNombre" name="Nombre" placeholder="Ingrese nombre para buscar" type="text" required />
                            <button type="button" onclick="buscarPaciente()">
                                <i class="fa fa-search"></i>&nbsp;Buscar
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Contenedor de la tabla -->
                <div id="containerTabla" class="sb-pa-container-table">
                    @await Html.PartialAsync("~/Views/Mantenimiento/Paciente/_PacienteTabla.cshtml", Model)
                </div>
            </div>
        </div>

        <div class="bd-example" style="display: none;">
            <div class="row">
                <div class="col-12">
                    <p></p>
                </div>

                <!-- Campo de búsqueda por nombre -->
                <div class="col-12">
                    <div class="form-group">
                        <span class="label-form">Nombre del paciente</span><br />
                        <input id="txtBuscarNombreD" class="form-control" type="text" placeholder="Ingrese nombre para buscar" />
                    </div>
                    <button type="button" class="btn btn-doc second_color" onclick="buscarPaciente()">
                        <i class="fa fa-search"></i>&nbsp;Buscar
                    </button>
                    <button type="button" class="btn btn-primary main_color" style="color: #FFF; font-size: 12px;" onclick="mostrarFormularioAgregar()">
                        <i class="fa fa-plus"></i>&nbsp;Agregar
                    </button>
                </div>

                <div class="col-12">&nbsp;</div>

                <!-- Contenedor de la tabla -->
                <div id="containerTabla" class="container">
                    <!-- Aquí se carga la vista parcial con la tabla de pacientes -->
                    @await Html.PartialAsync("~/Views/Mantenimiento/Paciente/_PacienteTabla.cshtml", Model)
                </div>
            </div>

        </div>

        <!-- Contenedor de formulario para agregar/editar paciente -->
        <div id="containerFormulario" class="modal sb-pa-container-agregar" style="display: none;">
            <div class="sb-pa-container-agregar-popup">

                <p>Agregar paciente</p>

                <form id="formPaciente">
                    <input type="hidden" id="hdnPacienteId" name="Id" />

                    <div class="sb-frm-agregar-block">
                        <div class="sb-frm-agregar-block-item">
                            <span class="label-form">Nombres completos</span>
                            <input id="txtNombre" name="Nombre" class="form-control" type="text" required />
                        </div>
                    </div>

                    <div class="sb-frm-agregar-block">
                        <div class="sb-frm-agregar-block-item">
                            <span class="label-form">Apellidos completos</span>
                            <input id="txtApellido" name="apellido" class="form-control" type="text" required />
                        </div>
                    </div>

                    <div class="sb-frm-agregar-block">
                        <div class="sb-frm-agregar-block-item">
                            <span class="label-form">Fecha de nacimiento</span>
                            <input id="txtFechaModalPaci" name="FechaNacimiento" class="form-control" type="date" required />

                        </div>
                    </div>

                    <div class="sb-frm-agregar-block">
                        <div class="sb-frm-agregar-block-item">
                            <span class="label-form">Estado civil</span>
                            <select class="form-control" id="cboEstadoCivil" name="EstadoCivil" required></select>
                        </div>
                    </div>
                    <div class="sb-frm-agregar-block">
                        <div class="sb-frm-agregar-block-item">
                            <span class="label-form">Sexo</span>
                            <select class="form-control" id="cboSexo" name="Sexo" required></select>
                        </div>
                    </div>
                    <div class="sb-frm-agregar-block">
                        <div class="sb-frm-agregar-block-item">
                            <span class="label-form">Estado</span>
                            <select class="form-control" id="cboEstado" name="Estado" required></select>
                        </div>
                    </div>

                    <div class="sb-frm-agregar-block">
                        <div class="sb-frm-agregar-block-item">
                            <span class="label-form">Documento</span>
                            <select class="form-control" id="cboDocumento" name="DocumentoTipo" required></select>
                        </div>
                    </div>

                    <div class="sb-frm-agregar-block">
                        <div class="sb-frm-agregar-block-item">
                            <span class="label-form">Número de documento</span>
                            <input id="txtDocumentoModalPaci" name="DocumentoNumero" class="form-control" type="text" required />
                        </div>
                    </div>

                    <div class="sb-frm-agregar-block">
                        <div class="sb-frm-agregar-block-item">
                            <span class="label-form">Teléfono</span>
                            <input id="txtTelefonoModalPaci" name="Telefono" class="form-control" type="text" />
                        </div>
                    </div>

                    <div class="sb-frm-agregar-block-button text-right">
                        <button type="button" class="btn btn-success" onclick="guardarPaciente()">Guardar</button>
                        <button type="button" class="btn btn-secondary" onclick="cancelarFormulario()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <a onclick="$('#pacientesModal').modal('hide');" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>

@section Scripts {
    <script>
        var estadosCiviles = [
            { id: -1, valor: 'Seleccionar' },
            { id: 1, valor: 'Casado' },
            { id: 2, valor: 'Soltero' }
        ];

        var sexos = [
            { id: -1, valor: 'Seleccionar' },
            { id: 1, valor: 'Masculino' },
            { id: 2, valor: 'Femenino' }
        ];

        var estados = [
            { id: -1, valor: 'Seleccionar' },
            { id: 1, valor: 'Habilitado' },
            { id: 0, valor: 'Deshabilitado' }
        ];

        var tiposDocumento = [
            { id: -1, valor: 'Seleccionar' },
            { id: 1, valor: 'DNI' },
            { id: 2, valor: 'Carnet Extranjeria' }
        ];

        function cargarCombo(array, idCombo) {
            var html = '';
            for (var item of array) {
                html += '<option value="' + item.id + '">' + item.valor + '</option>';
            }
            $('#' + idCombo).html(html);
        }
        cargarCombo(estadosCiviles, 'cboEstadoCivil');
        cargarCombo(sexos, 'cboSexo');
        cargarCombo(estados, 'cboEstado');
        cargarCombo(tiposDocumento, 'cboDocumento');

        function buscarPaciente(pageNumber = 1) {
            let nombre = document.getElementById('txtBuscarNombre').value;
            let pageSize = 10; // Número de pacientes por página
            console.log('paciente');
            $.post('/Mantenimiento/Paciente/Buscar', { nombre: nombre, pageNumber: pageNumber, pageSize: pageSize })
                .done(function (data) {
                    // Actualizar solo el contenido de la tabla
                    $('#containerTabla').html(data);
                })
                .fail(function () {
                    Swal.fire({
                        icon: "Error",
                        title: "Oops...",
                        text: "Error en la búsqueda de pacientes.",
                    });
                });
        }

        function mostrarFormularioAgregar() {
            $(".sb-admninistrator").css('overflow', 'hidden');
            $('#containerFormulario').css('display', 'flex');
            $('#containerFormulario input').val('');
            $('#containerFormulario select').val('-1');
        }

        function editarPaciente(id) {
            $.get(`/Mantenimiento/Paciente/Get/${id}`, function (paciente) {
                $('#hdnPacienteId').val(paciente.id);
                $('#txtNombre').val(paciente.nombre);
                $('#txtApellido').val(paciente.apellido);
                $('#txtFecha').val(paciente.fechaNacimiento.substring(0, 10));
                $('#cboEstado').val(paciente.estado);
                $('#cboDocumento').val(paciente.documentoTipo);
                $('#txtDocumento').val(paciente.documentoNumero);
                $('#txtTelefono').val(paciente.telefono);
                $('#cboEstadoCivil').val(paciente.estadoCivil);
                $('#cboSexo').val(paciente.sexo);
                $('#containerFormulario').css('display', 'flex');
                $(".sb-admninistrator").css('overflow', 'hidden');
            });
        }

        function eliminarPaciente(id) {
            if (confirm('¿Estás seguro de que quieres eliminar este paciente?')) {
                $.post(`/Mantenimiento/Paciente/Eliminar`, { id: id }, function (response) {
                    Swal.fire({
                        icon: "success",
                        text: response.message,
                    });
                    buscarPaciente(); // Actualiza la lista después de eliminar
                });
            }
        }

        function guardarPaciente() {
            let paciente = {
                Id: parseInt($('#hdnPacienteId').val()) || 0,
                Nombre: $('#txtNombre').val(),
                Apellido: $('#txtApellido').val(),
                FechaNacimiento: $('#txtFecha').val(),
                Estado: $('#cboEstado').val(),
                DocumentoTipo: $('#cboDocumento').val(),
                DocumentoNumero: $('#txtDocumento').val(),
                Telefono: $('#txtTelefono').val(),
                EstadoCivil: $('#cboEstadoCivil').val(),
                Sexo: $('#cboSexo').val(),
            };
            let dataToSend = {
                paciente: paciente // Enviar dentro de un objeto "paciente"
            };

            let url = paciente.Id ? '/Mantenimiento/Paciente/Editar' : '/Mantenimiento/Paciente/Agregar';
            $.ajax({
                type: 'POST',
                url: url,
                contentType: 'application/json',
                data: JSON.stringify(dataToSend.paciente),
                success: function (response) {
                    Swal.fire({
                        icon: "success",
                        title: "Registro completo.",
                    });
                    $('#containerFormulario').hide();
                    $(".sb-admninistrator").css('overflow', 'auto');
                    buscarPaciente(); // Actualiza la lista después de guardar
                },
                error: function (xhr) {
                    Swal.fire({
                        icon: "Error",
                        title: "Oops...",
                        text: "Debe rellenar todos los campos!",
                    });
                }
            });
        }

        function cancelarFormulario() {
            $('#containerFormulario').hide();
            $(".sb-admninistrator").css('overflow', 'auto');
        }


        /*Paciente*/

    </script>
}

@* Script sb-home *@

<script src="~/src/js/sb-main.js?ver=002"></script>

@* Script sb-home Fin *@
