@* @model IEnumerable<PsycoApp.site.Models.Paciente> *@
    @model ViewModelContainer<IEnumerable<PsycoApp.site.Models.Paciente>>

@{
    var dynamicData = Model.DynamicData;
    var pacientes = Model.Model;
    ViewData["Title"] = "Pacientes";
}


<div class="bd-example">
    <div class="row">
        <div class="col-12">
            <b style="color: #004A92; font-size: 20px;">Pacientes</b>
        </div>

        <div class="col-12">&nbsp;</div>

        <!-- Campo de búsqueda por nombre -->
        <div class="col-12">
            <div class="form-group">
                <span class="label-form">Nombre del Paciente</span><br />
                <input id="txtBuscarNombre" class="form-control" type="text" placeholder="Ingrese nombre para buscar" />
            </div>
            <button type="button" class="btn btn-doc second_color" style="color: #FFF; font-size: 12px;" onclick="buscarPaciente()">
                <i class="fa fa-search"></i>&nbsp;Buscar
            </button>
            <button type="button" class="btn btn-primary main_color" style="color: #FFF; font-size: 12px;" onclick="mostrarFormularioAgregar()">
                <i class="fa fa-plus"></i>&nbsp;Agregar
            </button>
        </div>

        <div class="col-12">&nbsp;</div>

        <!-- Contenedor de la tabla que se mostrará al hacer clic en "Buscar" -->
        <div id="containerTabla" class="container" style="display: none;">
            <div class="row" style="background-color: #FFFFFF;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-left: 0px; padding-right: 0px; width: 100%!important;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 80px;">#</th>
                                <th class="text-center">Paciente</th>
                                <th class="text-center">Fecha Nacimiento</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Acción</th>
                            </tr>
                        </thead>
                        <tbody id="bdPacientes">
                            <!-- Aquí irán las filas generadas dinámicamente -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Contenedor de formulario para agregar/editar paciente -->
        <div id="containerFormulario" class="container" style="display: none;">
            <div class="row" style="background-color: #FFFFFF;">
                <div class="col-12">&nbsp;</div>

                <form id="formPaciente">
                    <input type="hidden" id="hdnPacienteId" name="Id" />

                    <div class="col-6">
                        <div class="form-group">
                            <span class="label-form">Nombres y Apellidos Completos</span><br />
                            <input id="txtNombre" name="Nombre" class="form-control" type="text" required />
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <span class="label-form">Fecha de Nacimiento</span><br />
                            <input id="txtFecha" name="FechaNacimiento" class="form-control" type="date" required />
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <span class="label-form">Estado</span><br />
                            <select class="form-control" id="cboEstado" name="Estado" required>
                                <option value="-1">Seleccionar</option>
                                <option value="1">Registrado</option>
                                <option value="2">Atendido</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <span class="label-form">Documento</span><br />
                            <select class="form-control" id="cboDocumento" name="DocumentoTipo" required>
                                <option value="-1">Seleccionar</option>
                                <option value="1">DNI</option>
                                <option value="2">Carnet Extranjeria</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <span class="label-form">Número de Documento</span><br />
                            <input id="txtDocumento" name="DocumentoNumero" class="form-control" type="text" required />
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <span class="label-form">Teléfono</span><br />
                            <input id="txtTelefono" name="Telefono" class="form-control" type="text" />
                        </div>
                    </div>

                    <div class="col-12 text-right">
                        <button type="button" class="btn btn-success" onclick="guardarPaciente()">Guardar</button>
                        <button type="button" class="btn btn-secondary" onclick="cancelarFormulario()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function buscarPaciente() {
            let nombre = document.getElementById('txtBuscarNombre').value;
            $.post('/Mantenimiento/Paciente/Buscar', { nombre: nombre }, function (data) {
                let tableBody = $('#bdPacientes');
                tableBody.empty();
                data.forEach(paciente => {
                    tableBody.append(`
                                <tr>
                                    <td class="text-center">${paciente.id}</td>
                                    <td class="text-center">${paciente.nombre}</td>
                                    <td class="text-center">${paciente.fechaNacimiento}</td>
                                    <td class="text-center">${paciente.estado}</td>
                                    <td class="text-center">
                                        <button class="btn btn-warning btn-sm" onclick="editarPaciente(${paciente.id})">Editar</button>
                                        <button class="btn btn-danger btn-sm" onclick="eliminarPaciente(${paciente.id})">Eliminar</button>
                                    </td>
                                </tr>
                            `);
                });
                $('#containerTabla').show();
            });
        }

        function mostrarFormularioAgregar() {
            $('#containerFormulario').show();
            $('#containerFormulario input').val('');
            $('#containerFormulario select').val('-1');
        }

        function editarPaciente(id) {
            $.get(`/Mantenimiento/Paciente/Get/${id}`, function (paciente) {
                $('#hdnPacienteId').val(paciente.id);
                $('#txtNombre').val(paciente.nombre);
                $('#txtFecha').val(paciente.fechaNacimiento);
                $('#cboEstado').val(paciente.estado);
                $('#cboDocumento').val(paciente.documentoTipo);
                $('#txtDocumento').val(paciente.documentoNumero);
                $('#txtTelefono').val(paciente.telefono);
                $('#containerFormulario').show();
            });
        }

        function eliminarPaciente(id) {
            if (confirm('¿Estás seguro de que quieres eliminar este paciente?')) {
                $.post(`/Mantenimiento/Paciente/Eliminar`, { id: id }, function (response) {
                    alert(response.message);
                    buscarPaciente(); // Actualiza la lista después de eliminar
                });
            }
        }

        function guardarPaciente() {
            console.log('guardar');

            let paciente = {
                Id: $('#hdnPacienteId').val(),
                Nombre: $('#txtNombre').val(),
                FechaNacimiento: $('#txtFecha').val(),
                Estado: $('#cboEstado').val(),
                DocumentoTipo: $('#cboDocumento').val(),
                DocumentoNumero: $('#txtDocumento').val(),
                Telefono: $('#txtTelefono').val()
            };

            let url = paciente.Id ? '/Mantenimiento/Paciente/Editar' : '/Mantenimiento/Paciente/Agregar';
            $.ajax({
                type: 'POST',
                url: url,
                data: JSON.stringify(paciente),
                contentType: 'application/json',
                success: function (response) {
                    alert(response.message);
                    $('#containerFormulario').hide();
                    buscarPaciente(); // Actualiza la lista después de guardar
                },
                error: function (xhr) {
                    alert('Error al guardar paciente.');
                }
            });
        }

        function cancelarFormulario() {
            $('#containerFormulario').hide();
        }
    </script>
}
