@model dynamic
@{
    var dynamicData = Model.DynamicData;
    var productos = Model.Model;
    var dHoy = DateTime.Now;
    ViewData["Title"] = "Agenda"; 
}

<style>
    .select2-container .select2-dropdown {
        position: absolute !important;
        visibility: visible !important;
        display: block !important;
        z-index: 9999 !important; /* Asegura que esté sobre otros elementos */
    }

    .select2-container--open .select2-dropdown--below {
        top: 100% !important; /* Asegura que se posicione debajo del input */
        left: 0 !important;
        width: 100% !important;
    }
    input[type="text"]:disabled, select[disabled] {
        background: #FFFFFF !important;
    }

    .nav-link {
        width: 50%;
        padding: 0px !important;
    }

        .nav-link > a {
            width: 100%;
            display: block;
            text-align: center;
            padding: .5rem 1rem;
            border-radius: 10px 10px 0px 0px;
        }

            .nav-link > a.active {
                background-color: #1656a0;
                color: #ffffff;
            }

            .tab-pane.active{
                background-color: #ffffff;
            }
</style>

<!-- SB - STYLE -->

<link rel="stylesheet" href="~/src/css/sb-registrar-citas.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
<div class="sb-reg-citas-container">
    <div class="sb-reg-citas-title">
        <p>Registro de Citas</p>
    </div>

    <div class="sb-reg-citas-list-colores">
        <div class="sb-reg-citas-color-citado">
            <p>Citado</p>
        </div>
        <div class="sb-reg-citas-color-confirmado">
            <p>Confirmado</p>
        </div>
        @* <div class="sb-reg-citas-color-en_proceso">
            <p>En proceso</p>
        </div> *@
        <div class="sb-reg-citas-color-atendido">
            <p>Atendido</p>
        </div>
        <div class="sb-reg-citas-color-evaluacion">
            <p>Evaluación</p>
        </div>
        <div class="sb-reg-citas-color-taller">
            <p>Taller</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <span class="label-form">Paciente</span>
            <select class="form-control" id="cboPacienteFiltro" onchange="recargar_citas()" data-placeholder="Elija Paciente">
                <option value="-1">Todos</option>
            </select>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <span class="label-form">Especialista</span>
            <select class="form-control" id="cboDoctorFiltro" onchange="recargar_citas()" data-placeholder="Eija Doctor">
                <option value="-1">Todos</option>
            </select>
        </div>
    </div>

    <div class="sb-reg-citas-table-calendar table-responsive calendar-container">
        <div id="my-calendar"></div>
    </div>

</div>

<!--MODAL CITA-->
<div id="mdl_cita" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true">
    <div class="modal-dialog modal-lg" role="document" style="height: 90%; display: grid; place-items: center;">
        <div class="modal-content sb-reg-citas-popup-container" >
            <div class="modal-header sb-reg-citas-popup-title">
                <h5 class="modal-title">Datos de cita</h5>
            </div>
            <div class="modal-body sb-reg-citas-popup-body">
                
                <ul class="nav nav-tabs sb-reg-citas-popup-body-tabs" id="ulTabs">
                    <li class="nav-link sb-reg-citas-popup-body-tabs-resumen"><a data-toggle="tab" href="#resumen" class="active" id="btnResumen"><p>Resumen</p></a></li>
                    <li class="nav-link sb-reg-citas-popup-body-tabs-historial"><a data-toggle="tab" href="#historial"><p>Historial</p></a></li>
                </ul>

                <div class="tab-content">
                    <!--resumen-->
                    <div id="resumen" class="tab-pane fade show active">

                        <div class="sb-reg-citas-popup-tab-panel">
                            <div class="sb-reg-citas-popup-tab-panel-block">
                                <div class="sb-reg-citas-popup-tab-panel-block-item">
                                    <span class="label-form">Fecha cita</span>
                                    <input id="txtFecha" class="form-control" type="text" autocomplete="off" disabled="disabled" />
                                </div>
                            </div>

                            <div class="sb-reg-citas-popup-tab-panel-block" id="divReprogramar">
                                <div class="sb-reg-citas-popup-tab-panel-block-item">
                                    <span class="label-form">Fecha reprogramación</span>
                                    <input class="form-control" type="date" id="txtFechaReasignar" autocomplete="off" max="2050-12-31" min="2022-08-01" onkeydown="return false" />
                                </div>
                            </div>

                            <div class="sb-reg-citas-popup-tab-panel-block">
                                <div class="sb-reg-citas-popup-tab-panel-block-item">
                                    <span class="label-form">Especialista</span>
                                    <div class="input-group">
                                        <select class="form-control" id="cboDoctor" onchange="verificar_disponibilidad()">
                                            <option value="-1">Seleccionar</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="sb-reg-citas-popup-tab-panel-block" style="display: none !important;">
                                <div class="sb-reg-citas-popup-tab-panel-block-item">
                                    <span class="label-form">Hora</span>
                                    <div class="input-group date" id="dtpicker1">
                                        <input type="text" class="form-control form-hora" id="txtHora" onkeydown="return false;" onchange="validateHhMm(this);" onpaste="validateHhMm(this);" maxlength="8" placeholder="Seleccionar hora" autocomplete="off" />
                                        <span class="input-group-append input-group-addon">
                                            <span style="margin: 0 auto; display: flex; " class="input-group-text mdi mdi-clock">
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="sb-reg-citas-popup-tab-panel-block">
                                <div class="sb-reg-citas-popup-tab-panel-block-item">
                                    <span class="label-form">Paciente</span>
                                    <select class="form-control" id="cboPaciente">
                                        <option value="-1">Seleccionar</option>
                                    </select>
                                </div>
                            </div>

                            <div class="sb-reg-citas-popup-tab-panel-block">
                                <div class="sb-reg-citas-popup-tab-panel-block-item">
                                    <span class="label-form">Teléfono</span>
                                    <input class="form-control" type="text" id="txtTelefono" autocomplete="off" disabled="disabled" />
                                </div>
                            </div>

                            <div class="sb-reg-citas-popup-tab-panel-block">
                                <div class="sb-reg-citas-popup-tab-panel-block-item">
                                    <span class="label-form">Servicio</span>
                                    <div class="input-group">
                                        <select class="form-control" id="cboServicio">
                                            <option value="-1">Seleccionar</option>
                                            @foreach (var prod in productos)
                                            {
                                                <option value="@prod.Id">@prod.Alias</option>
                                            }
                                        </select>
                                        <div class="input-group-append" id="divPagoPendiente">
                                            <span class="input-group-text" id="basic-addon2" style="height: 100%; display: block;">
                                                <img id="PagoPendiente" src="../images/warning.jpg" style="height: 15px; width: auto; cursor: pointer; margin: 10px 6px 10px 6px;" title="Verificar pagos" onclick="form_pago()" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="sb-reg-citas-popup-tab-panel-block divMonto">
                                <div class="sb-reg-citas-popup-tab-panel-block-item">
                                    <span class="label-form" id="spnPactado">Monto pactado</span>
                                    <input class="form-control" type="text" id="txtMontoPactado" autocomplete="off" disabled="disabled" />
                                </div>
                            </div>

                            <div class="sb-reg-citas-popup-tab-panel-block divMonto">
                                <div class="sb-reg-citas-popup-tab-panel-block-item">
                                    <span class="label-form" id="spnPagado">Monto pagado</span>
                                    <input class="form-control" type="text" id="txtMontoPagado" autocomplete="off" disabled="disabled" />
                                </div>
                            </div>

                            <div class="sb-reg-citas-popup-tab-panel-block divMonto">
                                <div class="sb-reg-citas-popup-tab-panel-block-item">
                                    <span class="label-form" id="spnPendiente">Monto pendiente</span>
                                    <input class="form-control" type="text" id="txtMontoPendiente" autocomplete="off" disabled="disabled" />
                                </div>
                            </div>

                            <div class="sb-reg-citas-popup-tab-panel-block" id="divEstado">
                                <div class="sb-reg-citas-popup-tab-panel-block-item">
                                    <span class="label-form">Estado</span>
                                    <button type="button" id="btnEstado"></button>
                                </div>
                            </div>

                            <div class="sb-reg-citas-popup-tab-panel-block" id="divHorarios">
                                <div class="sb-reg-citas-popup-tab-panel-block-item">
                                    <table class="table table-responsive" style="display: inline-table;">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Hora</th>
                                                <th class="text-center">Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody id="divDisponibilidad"></tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!--historial-->
                    <div id="historial" class="tab-pane fade">
                        <div class="sb-reg-citas-popup-tab-historial" id="divHistorial"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary sb-reg-citas-popup-button-volver" onclick="cerrar_modal_cita()">Volver</button>
                <button type="button" class="btn btn-primary main_color divConfirmar sb-reg-citas-popup-button" onclick="guardar_cita()" id="btnGuardarCita">Guardar</button>
                <button type="button" class="btn btn-primary main_color divConfirmar sb-reg-citas-popup-button" onclick="confirmar_cita()" id="btnConfirmar">Confirmar</button>
                <button type="button" class="btn btn-primary main_color sb-reg-citas-popup-button" onclick="atender_cita()" id="divAtender">Atender</button>
                <button type="button" class="btn btn-primary main_color sb-reg-citas-popup-button" style="background-color: #eb5151 !important;" onclick="cancelar_cita()" id="btnCancelar">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL PAGO-->
<div id="mdl_pago" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true">
    <div class="modal-dialog modal-md" role="document" style="height: 90%; display: grid; place-items: center;">
        <div class="modal-content sb-reg-citas-popup-container" >
            <div class="modal-header sb-reg-citas-popup-title">
                <h5 class="modal-title">Registrar pago</h5>
            </div>
            <div class="modal-body sb-reg-citas-popup-body">
                
                <div class="sb-reg-citas-popup-tab-panel">
                    <div class="sb-reg-citas-popup-tab-panel-block" style="display: none;">
                        <input class="form-control" type="text" id="txtIdCita" />
                    </div>

                    <div class="sb-reg-citas-popup-tab-panel-block">
                        <div class="sb-reg-citas-popup-tab-panel-block-item">
                            <span class="label-form">Fecha de pago</span>
                            <input id="txtFechaPago" class="form-control" type="text" autocomplete="off" disabled="disabled" />
                        </div>
                    </div>

                    <div class="sb-reg-citas-popup-tab-panel-block">
                        <div class="sb-reg-citas-popup-tab-panel-block-item">
                            <span class="label-form">Paciente</span>
                            <input class="form-control" type="text" id="txtPaciente" autocomplete="off" disabled="disabled" />
                        </div>
                    </div>

                    <div class="sb-reg-citas-popup-tab-panel-block">
                        <div class="sb-reg-citas-popup-tab-panel-block-item">
                            <span class="label-form">Forma de pago</span>
                            <select class="form-control" id="cboFormaPago" onchange="validarSiEsTransferencia()">
                                <option value="-1">Seleccionar</option>
                                <option value="1">Transferencia</option>
                                <option value="2">Depósito</option>
                            </select>
                        </div>
                    </div>

                    <div class="sb-reg-citas-popup-tab-panel-block" id="divDetalleTransferencia">
                        <div class="sb-reg-citas-popup-tab-panel-block-item">
                            <span class="label-form">Detalle de transferencia</span>
                            <select class="form-control" id="cboDetalleTransferencia">
                                <option value="-1">Seleccionar</option>
                                <option value="1">BCP - Ahorros S/.</option>
                                <option value="2">BBVA - Ahorros S/.</option>
                                <option value="3">Interbank - Ahorros S/.</option>
                            </select>
                        </div>
                    </div>

                    <div class="sb-reg-citas-popup-tab-panel-block">
                        <div class="sb-reg-citas-popup-tab-panel-block-item">
                            <span class="label-form">Importe de pago (S/.)</span>
                            <input class="form-control" type="text" id="txtMonto1" autocomplete="off" onkeyup="validarDiferenciaPago()" />
                        </div>
                    </div>

                    <div class="sb-reg-citas-popup-tab-panel-block">
                        <div class="sb-reg-citas-popup-tab-panel-block-item">
                            <span class="label-form">Monto pendiente (S/.)</span>
                            <input class="form-control" type="text" id="txtMonto2" autocomplete="off" disabled="disabled" />
                        </div>
                    </div>

                    <div class="sb-reg-citas-popup-tab-panel-block">
                        <div class="sb-reg-citas-popup-tab-panel-block-item">
                            <span class="label-form">Diferencia (S/.)</span>
                            <input class="form-control" type="text" id="txtMonto3" autocomplete="off" disabled="disabled" />
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary sb-reg-citas-popup-button-volver" onclick="cerrar_modal_pago()">Volver</button>
                <button type="button" class="btn btn-primary main_color sb-reg-citas-popup-button" onclick="guardar_pago()">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL OTROS PAGOS PENDIENTES-->
<div id="mdl_otros_pagos_pendientes" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="true">
    <div class="modal-dialog modal-lg" role="document" style="height: 90%; display: grid; place-items: center; max-width: fit-content;">
        <div class="modal-content sb-reg-citas-popup-container" style=" width: fit-content;">
            <div class="modal-header sb-reg-citas-popup-title">
                <h5 class="modal-title">Pagos pendientes</h5>
            </div>
            <div class="modal-body sb-reg-citas-popup-body">
                
                <div class="sb-reg-citas-popup-tab-panel">
                    <table class="table table-responsive" style="display: inline-table;">
                        <thead id="headPagosPendientes">
                            <tr>
                                <th>Servicio</th>
                                <th>Fecha&nbsp;cita</th>
                                <th>Estado</th>
                                <th>Usuario&nbsp;registra</th>
                                <th>Fecha&nbsp;registra</th>
                                <th>Monto&nbsp;pactado</th>
                                <th>Monto&nbsp;pagado</th>
                                <th>Monto&nbsp;pendiente</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody id="bodyPagosPendientes"></tbody>
                    </table>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary sb-reg-citas-popup-button-volver" onclick="cerrar_modal_pagos_pendientes()">Volver</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
  
    <link rel="stylesheet" href="~/assets/css/zabuto.css" />
    <link rel="stylesheet" href="~/assets/css/datetimepicker.css" />

    <script src="~/basic/zabuto.js?f=@dHoy.ToString("yyyyMMddhhmmss")"></script>
    <script src="~/basic/moments.js?f=@dHoy.ToString("yyyyMMddhhmmss")"></script>
    <script src="~/basic/datetimepicker.js?f=@dHoy.ToString("yyyyMMddhhmmss")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.2.6/jquery.inputmask.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
    <script src="~/basic/registro_citas.js?f=@dHoy.ToString("yyyyMMddhhmmss")"></script>
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>


}