@model ViewModelContainer<IEnumerable<PsycoApp.site.Models.CuadreCaja>>
@{
    var dynamicData = Model.DynamicData;
    ViewData["Title"] = "Cuadre de caja";
    var dHoy = DateTime.Now;
}
<link rel="stylesheet" href="~/src/css/sb-pacientes.css?ver=005" />
<link rel="stylesheet" href="~/src/css/sb-caja.css?ver=005" />

<style>
    .yourTableClass tr:nth-child(4n+1) td, .yourTableClass tr:nth-child(4n+3) td {
        background: #c5ffcf;
    }

    .sb-pa-container {
        background-color: #efefef;
    }

    .active-paginacion-tabla-modulo li:nth-of-type(odd) a {
        background-color: #f2f4f8 !important;
        color: #FFF !important;
    }
</style>
    <input type="hidden" id="hiddenIdSede" value="@(Model?.DynamicData?.id_sede)" />

<div class="sb-pa-container">
    <div class="sb-pa-container-buscar">
        <div class="sb-pa-container-buscar-title">
            <p class="active-titular-modulo">Cuadre de caja</p>
        </div>

        <div class="row">
            <div class="col-3">
                <label class="active-titular-modulo">Fecha:</label>
                <input id="txtFecha" class="input100 col-12" type="date" oninput="buscarPago(1); verResumenUsuario(false)" style="background-color: #d8d9db; color: #000000; border: 1px solid rgba(0, 0, 0, .15); line-height: 1.25; vertical-align: middle;border-radius: .25rem; display: inline-block; max-width: 100%; height: calc(2.25rem + 2px); filter: invert(1);" />
            </div>
            <div class="col-3">
                <label class="active-titular-modulo">Buscar por:</label>
                <select class="input100 custom-select col-12 active-select-modulo" id="cboBuscarPor" style="padding: 0 25px 0 25px;" onchange="buscarPago(1); verResumenUsuario(false)">
                    <option value="1">Fecha exacta</option>
                    <option value="2">Año y mes</option>
                </select>
            </div>
            <div class="col-3">
                <label class="active-titular-modulo">Centro:</label>
                <select class="input100 custom-select col-12 active-select-modulo" id="cboSede" style="padding: 0 25px 0 25px;" onchange="buscarPago(1); verResumenUsuario(false)">
                    <option value="-1">Todos</option>
                    <option value="1">Sentirse bien</option>
                    <option value="2">Lidérate</option>
                </select>
            </div>
            <div class="col-3">
                <label class="active-titular-modulo">Usuario:</label>
                <select class="input100 custom-select col-12 active-select-modulo" id="cboUsuario" style="padding: 0 25px 0 25px;" onchange="buscarPago(1); verResumenUsuario(false)">
                    <option value="-1">Todos</option>
                </select>
            </div>
        </div>

        <!-- Contenedor de la tabla -->
        <div id="containerTabla" class="sb-pa-container-table">
            @await Html.PartialAsync("~/Views/Caja/_CajaTabla.cshtml", Model.Model)
        </div>

        <div class="sb-pa-container-resume">
            <div class="sb-pa-container-resume-title">
                <p>Resumen</p>
            </div>
            <div class="sb-pa-container-resume-report">
                <div class="sb-pa-container-resume-report-item">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="reporte_nps"></div>
                    </div>

                </div>
                <div class="sb-pa-container-resume-report-item">
                    <div class="sb-pa-container-resume-report-item-table">
                        <table class="table table-hover yourTableClass active-table-modulo caja">
                            <thead>
                                <tr class="bg-success">
                                    <th class="text-center" style="width: 80px; color: #FFFFFF;">#</th>
                                    <th class="text-center" style="color: #FFFFFF;">
                                        Usuario
                                    </th>
                                    <th class="text-center" style="color: #FFFFFF;">
                                        Importe
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="bdResumen">
                            </tbody>
                        </table>
                    </div>
                    <div class="sb-pa-container-resume-report-item-table">
                        <table class="table table-hover yourTableClass active-table-modulo caja">
                            <thead>
                                <tr class="bg-success">
                                    <th class="text-center" style="width: 80px; color: #FFFFFF;">#</th>
                                    <th class="text-center" style="color: #FFFFFF;">
                                        Cantidad
                                    </th>
                                    <th class="text-center" style="color: #FFFFFF;">
                                        Forma pago
                                    </th>
                                    <th class="text-center" style="color: #FFFFFF;">
                                        Detalle pago
                                    </th>
                                    <th class="text-center" style="color: #FFFFFF;">
                                        Monto
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="bdResumen2">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="background-color: #FFF; display: none;">
    <div class="card-body">

        <div class="row">

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Resumen</h4>
                        <div class="flot-chart">
                            @* <div class="flot-chart-content" id="reporte_nps"></div> *@
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class=row>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="card" style="width: 100%;">
                                <div class="card-body">
                                    <table class="table table-hover yourTableClass">
                                        <thead>
                                            <tr class="bg-success">
                                                <th class="text-center" style="width: 80px; color: #FFFFFF;">#</th>
                                                <th class="text-center" style="color: #FFFFFF;">
                                                    Importe
                                                </th>
                                                <th class="text-center" style="color: #FFFFFF;">
                                                    Usuario
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="bdResumen">
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="card" style="width: 100%;">
                                <div class="card-body">
                                    <table class="table table-hover yourTableClass">
                                        <thead>
                                            <tr class="bg-success">
                                                <th class="text-center" style="width: 80px; color: #FFFFFF;">#</th>
                                                <th class="text-center" style="color: #FFFFFF;">
                                                    Cantidad
                                                </th>
                                                <th class="text-center" style="color: #FFFFFF;">
                                                    Monto
                                                </th>
                                                <th class="text-center" style="color: #FFFFFF;">
                                                    Forma pago
                                                </th>
                                                <th class="text-center" style="color: #FFFFFF;">
                                                    Detalle pago
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="bdResumen2">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="sb-caja-container-table">
        <table class="table table-hover yourTableClass">
            <thead>
                <tr class="bg-success">
                    <th class="text-center" style="width: 80px; color: #FFFFFF;">#</th>
                    <th class="text-center" style="color: #FFFFFF;">
                        Importe
                    </th>
                    <th class="text-center" style="color: #FFFFFF;">
                        Usuario
                    </th>
                </tr>
            </thead>
            <tbody id="bdResumen">
            </tbody>
        </table>
    </div>
</div>

<script>
    function cargarCombo(array, idCombo) {
        var html = '';
        for (var item of array) {
            html += '<option value="' + item.id + '">' + item.valor + '</option>';
        }
        $('#' + idCombo).html(html);
    }

    var anios = [
        { id: -1, valor: 'Todos' }
    ];
    let anioIni = 2022;
    let anioFin = new Date().getFullYear();

    while(anioIni <= anioFin){
        anios.push({ id: anioIni, valor: anioIni });
        anioIni++;
    }

    cargarCombo(anios, 'cboAnio');

    function fechaActualYYYYMMDD() {
        var today = new Date();
        var yyyy = today.getFullYear();
        var mm = today.getMonth() + 1; // Months start at 0!
        var dd = today.getDate();

        if (dd < 10) dd = '0' + dd;
        if (mm < 10) mm = '0' + mm;

        var formattedToday = yyyy + '-' + mm + '-' + dd;
        return formattedToday;
    }

    $('#txtFecha').val(fechaActualYYYYMMDD());

    function cargar_lista_usuarios_caja() {
        var html = '';
        $.ajax({
            url: "/RegistroCitas/listar_usuarios_caja?filtrar_por_sede=0",
            type: "GET",
            async: false,
            beforeSend: function () {
                html += '<option value="-1">Todos</option>';
            },
            success: function (data) {
                for (var item of data) {
                    html += '<option value="' + item.id_usuario + '" >' + item.nombres + '</option>';
                }
            },
            error: function (response) {
                html = '<option value="-1">Todos</option>';
            },
            complete: function () {
                $('#cboUsuario').html(html);
            }
        });
    }
    cargar_lista_usuarios_caja();
</script>