@model ViewModelContainer<IEnumerable<PsycoApp.site.Models.CuadreCaja>>
@{
    var dynamicData = Model.DynamicData;
    ViewData["Title"] = "Cuadre de caja";
    var dHoy = DateTime.Now;
}
<link rel="stylesheet" href="~/src/css/sb-pacientes.css?ver=005" />
<link rel="stylesheet" href="~/src/css/sb-caja.css?ver=005" />

<style>
    .yourTableClass tr:nth-child(4n+1) td, .yourTableClass tr:nth-child(4n+3) td {
        background: #c5ffcf;
    }
</style>

<div class="sb-pa-container" style="width: 96%;">
    <div class="sb-pa-container-buscar">
        <div class="sb-pa-container-buscar-title">
            <p>Cuadre de caja</p>
        </div>

        <div class="sb-pa-container-buscador">
            <div class="sb-pa-container-buscador-block-item">
                <label>Año:</label>
                <select class="input100 custom-select col-12" id="cboAnio" style="padding: 0 25px 0 25px;" onchange="buscarPago(1); verResumenUsuario(false)">
                    <option value="-1">Todos</option>
                    <option value="2024">2024</option>
                </select>
            </div>
            <div class="sb-pa-container-buscador-block-item">
                <label>Mes:</label>
                <select class="input100 custom-select col-12" id="cboMes" style="padding: 0 25px 0 25px;" onchange="buscarPago(1); verResumenUsuario(false)">
                    <option value="-1">Todos</option>
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Setiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>
            </div>
        </div>

        <!-- Contenedor de la tabla -->
        <div id="containerTabla" class="sb-pa-container-table">
            @await Html.PartialAsync("~/Views/Caja/_CajaTabla.cshtml", Model.Model)
        </div>
    </div>
</div>

<!--nps-->
<div class="sb-caja-container">
    <div class="sb-caja-container-title">
        <p>Resumen</p>
    </div>
    <div class="sb-caja-container-canvas">
        <div class="flot-chart">
            <div class="flot-chart-content" id="reporte_nps"></div>
        </div>
    </div>
    <div class="sb-caja-container-table">
        <table class="table table-hover yourTableClass">
            <thead>
                <tr class="bg-success">
                    <th class="text-center" style="width: 80px; color: #FFFFFF;">#</th>
                    <th class="text-center" style="color: #FFFFFF;">
                        Importe
                    </th>
                    <th class="text-center" style="color: #FFFFFF;">
                        Usuario
                    </th>
                </tr>
            </thead>
            <tbody id="bdResumen">
            </tbody>
        </table>
    </div>
</div>
